doctype html
html
	head
		title= title
		meta(name="title", content=title)
		meta(name="description", content=description)
		meta(name="keywords", content=keywords)
		meta(name="image", content=image)
		meta(property="og:site_name", content="Delivery En Bahia")
		meta(property="og:url", content=url)
		meta(property="og:title", content=title)
		meta(property="og:image", content=image)
		meta(property="og:type", content="website")
		meta(property="og:description", content=description)
		meta(property="og:keywords", content=keywords)
		meta(property="fb:app_id", content=fb_app_id)
		meta(name="twitter:url", content=url)
		meta(name="twitter:title", content=title)
		meta(name="twitter:image", content=image)
		meta(name="twitter:description", content=description)
		meta(name="twitter:keywords", content=keywords)
	body