/* ******************************************* */
/* Optional CSS, default style for ng-sortable */
/* ******************************************* */

.as-sortable-item, .as-sortable-placeholder {
    min-height: 20px;
}

.as-sortable-item {
}

.as-sortable-item-handle {
}

.as-sortable-placeholder {
    background-color: #dbdbdb;
	position:relative;
	float:left;
    padding-right: 15px;
    padding-left: 15px;
}

.as-sortable-drag {
    opacity: .8;
	margin: 0 !important;
	padding: 0 !important;
}
.as-sortable-drag  .col-md-4{
	width: 400px !important;
	margin: 0 !important;
}

.as-sortable-hidden {
}