.row(style="margin-left: 40px;margin-right: 40px;")
  .col-lg-12.col-md-12.col-sm-12.col-xs-12
    form(ng-submit="on.submit()")
      .col-lg-12.col-md-12.col-sm-12.col-xs-12
        .form-group.col-xs-12.col-sm-12.col-md-4.col-lg-4.has-feedback(style="padding-left: 0px;padding-right: 5px;") 
          label Fecha del pago
          input.form-control.picker__input(type="text",date-picker,ng-model="on.form.date")
        .form-group.col-xs-12.col-sm-12.col-md-4.col-lg-4.has-feedback(style="padding-left: 5px;padding-right: 5px;")
          label Forma del pago
          select.form-control(ng-model="on.form.type")
            option(ng-selected="true",ng-value="false",ng-disabled="true") Seleccione
            option(ng-value="0") Transferencia
            option(ng-value="1") Deposito
          i.form-control-feedback.fv-icon-no-label
          small.help-block.hidden Por favor introduce un valor
          small.help-block.hidden Por favor introduce un valor válido                         
        .form-group.col-xs-12.col-sm-12.col-md-4.col-lg-4.has-feedback(style="padding-left: 5px;padding-right: 0px;") 
          label Monto
          input.form-control(type="text",ng-model="on.form.sum")
          i.form-control-feedback.fv-icon-no-label
          small.help-block.hidden Por favor introduce sólo dígitos
          small.help-block.hidden El monto debe ser mayor a 
          small.help-block.hidden Por favor introduce un valor
      .form-group.col-xs-12.col-sm-12.col-md-12.col-lg-12.has-feedback
        select.form-control(ng-if="!type",ng-model="on.form.bank")
          option(ng-selected="true",ng-value="false",ng-disabled="true") Seleccione
          option(ng-value="0") Banesco
          option(ng-value="1") Banplus
        select.form-control(ng-if="type",ng-model="on.form.bank")
          option(ng-selected="true",ng-value="false",ng-disabled="true") Seleccione
          option(ng-repeat="paymethod in banksaccount.items",ng-value="paymethod._id") {{paymethod.name}}
        i.form-control-feedback.fv-icon-no-label
        small.help-block.hidden Por favor introduce un valor válido
      .form-group.col-xs-12.col-sm-12.col-md-12.col-lg-12.has-feedback
        label Referencia
        input.form-control(type="text",ng-model="on.form.ref")
        i.form-control-feedback.fv-icon-no-label
        small.help-block.hidden Por favor introduce sólo dígitos
        small.help-block.hidden Por favor introduce un valor válido
      .form-group.col-xs-12.col-sm-12.col-md-12.col-lg-12.has-feedback
        label 
          | Comprobante de Pago 
          span.opacity 
            | (
            | Opcional
            | ) 
        input.form-control(type="file",ngf-select,ngf-drop,ng-model="on.form.file")
      .col-xs-12.col-sm-12.col-md-12.col-lg-12.text-right
        br
        br
        br
        button.btn.btn-send(type="submit",ng-disabled="disabledBtn") Informar
