.container(style="padding-top: 50px;padding-left: 80px;padding-right: 80px;")
  #publication.content-publication.checkbox.col-xs-12.col-sm-12.col-md-12.col-lg-12
    .row.center-block(style="padding-bottom: 50px;")
      .col-xs-10.col-sm-10.col-md-10.col-lg-10.page-header.col-xs-offset-1.col-md-offset-1.col-lg-offset-1
        .text-center
          h3.black Datos para concretar la compra
      .col-xs-6.col-sm-6.col-md-6.col-lg-6.col-xs-offset-3.col-sm-offset-3.col-md-offset-3.col-lg-offset-3
        .col-md-6.col-xs-12
          .pull-right
            .framework-img
              a  
                img.img-response(ng-src="http://50.21.179.35:8083/{{publications.item.photos[0]}}",style="height: 180px;")
        .col-md-6.col-xs-12
          .pull-left
            div
              a(ui-sref="base.publication({id: id})") {{publications.item.name}}
              br
              span.price.red(style="font-size: 15px;display: inline-block;") {{publications.item.price | filterMoney : "Bs" : true}}
              span  x {{quantity}}
              span(ng-if="quantity==1") unidad 
              span(ng-if="quantity>1") unidades
              br
              span.opacity Publicación N° {{publications.item.miniid}}
              hr
              div
                span.black Datos del vendedor
                br
                br
                i.fa.fa-user.black  {{publications.item.user.name}} 
                a(href="#")
                  span.black
                    | ( 
                    span.black {{publications.item.user.username}}
                    | ) 
                br
                i.fa.fa-phone.fa-fw.black
                span.black {{publications.item.user.phone}}
                br
                i.fa.fa-envelope.fa-fw.black
                span.black {{publications.item.user.mail}}
                i.fa.fa-files-o.fa-fw.pointer
                br
                br
                br
                br
                br
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        .text-center
          hr
          div(style="display: inline-block;position: absolute;left: 50%;transform: translateX(-50%);top: -20px;padding: 20px;background: white;")
            span(ng-if="type==1") 
              b
                i.fa.fa-bank  
                | Cuentas bancarias de 
                span.color-apdp A Precio De Pana
            span(ng-if="type==0")
              b 
                | Información bancaria
          br
          br
      .col-xs-12.col-sm-12.col-md-12.col-lg-12(ng-if="type==1")
        .col-xs-12.col-sm-12.col-md-3.col-md-offset-3.col-lg-3.col-lg-offset-3(stlye="padding-right: 10px;") 
          .text-center(style="border: dashed 1px #CCC;height: 180px;background: #FAFAFA;padding: 20px;font-size: 12px;")
            img.img-response(ng-src="http://50.21.179.35:8083/banplus.jpg",style="width: 140px;height: auto;margin-bottom: 10px;")
            span(style="display: block;") Cuenta Corriente
            span(style="display: block;") 01340173001731028149  
            span(style="display: block;") A precio de pana C.A 
            span(style="display: block;") Rif: J- 40582479-4 
            span(style="display: block;") contacto@apreciodepana.com 
        .col-xs-12.col-sm-12.col-md-3.col-lg-3(style="padding-left: 10px;") 
          .text-center(style="border: dashed 1px #CCC;height: 180px;background: #FAFAFA;padding: 20px;font-size: 12px;")
            img.img-response(ng-src="http://50.21.179.35:8083/banesco.jpg",style="width: 140px;height: auto;margin-bottom: 10px;")
            span(style="display: block;") Cuenta Corriente
            span(style="display: block;") 01740144111444160632 
            span(style="display: block;") A precio de pana C.A 
            span(style="display: block;") Rif: J- 40582479-4 
            span(style="display: block;") contacto@apreciodepana.com
      .col-xs-12.col-sm-12.col-md-12.col-lg-12(ng-if="type==0")
        .col-xs-12.col-sm-12.col-md-3.col-md-offset-3.col-lg-3.col-lg-offset-3(stlye="padding-right: 10px;",ng-repeat="collections in banksaccount.items") 
          .text-center(style="border: dashed 1px #CCC;height: 180px;background: #FAFAFA;padding: 20px;font-size: 12px;")
            img.img-response(ng-src="http://50.21.179.35:8083/banplus.jpg",style="width: 140px;height: auto;margin-bottom: 10px;")
            span(style="display: block;") {{collections.bank}}
            span(style="display: block;",ng-if="collections.type==1") Cuenta Corriente
            span(style="display: block;",ng-if="collections.type==2") Cuenta Ahorro
            span(style="display: block;") {{collections.number}}  
            span(style="display: block;") {{collections.name}}
            span(style="display: block;") {{collections.id}} 
            span(style="display: block;") {{collections.mail}} 
      .col-xs-12.col-sm-12.col-md-6.col-md-offset-3.col-lg-6.col-lg-offset-3.text-center
        br
        .alert.alert-success
          i.fa.fa-lock.fa-fw
          | Al depositar a nuestras cuentas, mediaremos tu compra
          br
          | para garantizar la entrega de tu producto.
      .col-xs-12.col-sm-12.col-md-12.col-lg-12.text-center
        button.btn.btn-send(type="button",ng-if="type",ui-sref="bankcheckout.bankcheckoutOne({id: id,type: type})") Informar pago
        button.btn.btn-default(type="button",ng-if="!type",ui-sref="bankcheckout.bankcheckoutOne({id: id,type: type})") Pagar Luego
