#sales
  h4.title.text-center
    span.black Configuracion de datos
  hr
  .row
    .col-md-12(style="padding-right: 0;margin-bottom: 10px;")
      .title
        span.btn.btn-default
          i.fa.fa-user.fa-fw.black.fa-2x
        | &nbsp;
        | &nbsp;
        span.black Información personal
      .pull-right.div-img-rotate
        img(ng-src="http://50.21.179.35:8083/{{Auth.photo}}",width="100%",height="100%")
    .col-md-12.black
      .border-input
        b.black Razon Social:  
        | {{Auth.name}} {{Auth.lastname}}
    .col-md-12.black
      .border-input
        b.black RIF: 
        | V-{{Auth.document}}
    .col-md-12.black
      .border-input
        b.black Telefono: 
        | {{Auth.phone}}
    .col-md-12
      .border-input.border-input-last.black 
        b.black Dirección: 
        span(ng-repeat="address in Auth.localities") 
          | {{address.name}} 
          span(ng-if="Auth.localities.length>1") ,
        .input-group.pull-right(style="display: inline-block")
          .checkbox(style="margin: 0;")
            label
              input(type="checkbox" value="")
              | Compartir Dirección
          //- .text-right(style="display: inline-block") Compartir Dirección
          //- .input-group-addon(style="display: inline-block")
          //-   input(type="checkbox")
    br
    br
    .col-md-12.text-right(style="margin: 15px 0;")
      button.btn.btn-send(type="button",data-dismiss="modal",data-toggle="modal",data-target="#DataUser") Modificar
    br
    br
    .col-md-12(style="padding-right: 0;margin-bottom: 10px;")
      .title
        span.btn.btn-default
          i.fa.fa-lock.fa-fw.black.fa-2x
        | &nbsp;
        | &nbsp;
        span.black Información de acceso
    .col-md-12.border-input
      b.black Seudonimo:  
      | {{Auth.username}}
      span.pull-right 
        a.pointer(data-dismiss="modal",data-toggle="modal",data-target="#edit",ng-click="options = 'Seudonimo'") Editar
    .col-md-12.border-input
      b.black Correo:  
      | {{Auth.mail}}
      span.pull-right
        a.pointer(data-dismiss="modal",data-toggle="modal",data-target="#edit",ng-click="options = 'Correo'") Editar
    .col-md-12.border-input.border-input-last
      b.black Contraseña:  
        | ********
      span.pull-right
        a.pointer(data-dismiss="modal",data-toggle="modal",data-target="#edit",ng-click="options = 'Contraseña'") Editar
    br
    br
    .col-md-12.text-right(style="margin: 15px 0;")
    br
    br
    .col-md-12(style="padding-right: 0;margin-bottom: 10px;")
      .title 
        span.btn.btn-default
          img(ng-src="http://50.21.179.35:8083/verificado.png",width="40px")
        | &nbsp;
        | &nbsp;
        span.black Tienda Verificada
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      .col-md-12(style="border-top: 1px solid #e5e5e5;border-bottom: 1px solid #e5e5e5;")
        .text-center.alert.alert-info(style="margin-top: 20px;")
          i.fa.fa-info-circle
          |  Aún no haz verificado tu tienda, envíanos tus datos y conviértete en tienda verificada.
    br
    br
    .col-md-12.text-right(style="margin: 15px 0;")
      button.btn.btn-send(type="button",data-dismiss="modal",data-toggle="modal",data-target="#store") Verificar
    br
    br
    .col-md-12(style="padding-right: 0;margin-bottom: 10px;")
      .title
        span.btn.btn-default
          i.fa.fa-credit-card.fa-fw.black.fa-2x
        | &nbsp;
        | &nbsp;
        span.black Información Bancaria
    .col-md-12.black.border-input.border-input-last
      b.black Cuenta Bancaria:  
      | Sin Informacion
    br
    br
    .col-md-12.text-right(style="margin: 15px 0;")
      button.btn.btn-send(type="button",data-dismiss="modal",data-toggle="modal",data-target="#edit",ng-click="options = 'Cuenta Bancaria'") Verificar
    br
    br
    .col-md-12
      .border-out
        a.btn.pointer Desactivar Cuenta
#DataUser.modal.fade.blue(tabindex="-1",role="dialog",aria-labelledby="DataUser")
  .modal-dialog(role="document")
    .modal-content
      .modal-header
        button.close(type="button",data-dismiss="modal",aria-label="Close")
          span.black(aria-hidden="true") &times;
        img.margin-center(ng-src="http://50.21.179.35:8083/bill-ok.png",alt="bill-ok",width="50px",height="50px")
        span Editar Información Personal
      form(ng-submit="send.EditInfoPerson()")
        .modal-body
          .row
            .col-xs-12(style="margin-bottom: 8px;")
              span.black
                i.fa.fa-list-alt.fa-fw.black
                | Identificación
            .form-group.col-xs-12.col-sm-12.col-md-3.col-lg-3.input
              select.form-control(ng-model="send.form.idp",ng-change="change()")
                option(ng-selected="true",ng-value="v",value="v",seleted="seleted") V
                option(ng-value="e") E
                option(ng-value="p") P
                option(ng-value="r") R
            .form-group.col-xs-12.col-sm-12.col-md-9.col-lg-9.input.has-feedback
              input.form-control(type="text",placeholder="Ingresa el numero de documento...",ng-model="send.form.document")
              i.form-control-feedback.fv-icon-no-label(style="display: none;")
              small.help-block(style="display: none;") Por favor introduce un valor
              small.help-block(style="display: none;") Por favor introduce sólo dígitos
              small.help-block(style="display: none;") Por favor introduce un valor con una longitud válida
            .col-xs-12(style="margin: 8px 0;")
              span.black
                i.fa.fa-industry.fa-fw.black
                |  Nombre de la empresa
            .form-group.col-xs-12.col-sm-12.col-md-6.col-lg-6.input.has-feedback
              input.form-control(type="text",placeholder="Ingresa la razon social...",value="{{Auth.name}} {{Auth.lastname}}")
              i.form-control-feedback.fv-icon-no-label(style="display: none;")
              small.help-block(style="display: none;") Por favor introduce un valor
              small.help-block(style="display: none;") Por favor introduce un valor con una longitud válida
            .form-group.col-xs-12.col-sm-12.col-md-6.col-lg-6.input.has-feedback
              select.form-control
                option(selected,disabled) Area de tu Empresa
              i.form-control-feedback.fv-icon-no-label(style="display: none;")
              small.help-block(style="display: none;") Por favor introduce un valor
            .col-xs-12(style="margin: 8px 0;")
              span.black 
                i.fa.fa-phone.fa-fw.black
                | Teléfono
            .form-group.col-xs-12.col-sm-12.col-md-12.col-lg-12.input.has-feedback
              input.form-control(type="text",placeholder="Ingrese un numero de telefono...",ng-model="send.form.phone")
              i.form-control-feedback.fv-icon-no-label(style="display: none;")
              small.help-block(style="display: none;") Por favor introduce un valor
              small.help-block(style="display: none;") Por favor introduce un numero válido de teléfono
            .col-xs-12(style="margin: 8px 0;")
              span.black
                i.fa.fa-map-marker.fa-fw.black
                | Ubicacion...
            .form-group.col-xs-12.col-sm-12.col-md-12.col-lg-12.input.has-feedback
              locality-picker(model='send.form.localities')
            .form-group.col-xs-12.col-sm-12.col-md-12.col-lg-12.input.has-feedback
              textarea.form-control(rows="4",cols="",placeholder=" Direccion",style="overflow: hidden;",ng-model="send.form.address")
              i.form-control-feedback.fv-icon-no-label(style="display: none;")
              small.help-block(style="display: none;") Por favor introduce un valor
              small.help-block(style="display: none;") Por favor introduce un valor con una longitud válida
        .modal-footer
          .col-md-12
            button.btn.btn-primary(type="submit")
              | Listo
#edit.modal.fade.blue(tabindex="-1",role="dialog",aria-labelledby="edit")
  .modal-dialog(role="document")
    .modal-content
      .modal-header
        button.close(type="button",data-dismiss="modal",aria-label="Close")
          span.black(aria-hidden="true") &times;
        img.margin-center(ng-src="http://50.21.179.35:8083/bill-ok.png",alt="bill-ok",width="50px",height="50px")
        span Editar {{options}}
      form(ng-submit="send.EditSeudominio()",ng-if="options=='Seudonimo'")
        .modal-body
          .row
            .col-xs-12(style="margin-bottom: 8px;")
              span.black
                i.fa.fa-envelope.fa-fw.black
                | Editar Seudonimo
            .form-group.col-xs-12.input.has-feedback
              input.form-control(type="text",placeholder=" Ingresa un nombre con el que te identificaras en el sitio...",ng-model="send.form.username")
              i.form-control-feedback.fv-icon-no-label(style="display: none;")
              small.help-block(style="display: none;") Por favor introduce un valor
              small.help-block(style="display: none;") Por favor introduce un valor con una longitud válida
              small.help-block(style="display: none;") Por favor introduce un valor que coincida con el patrón
        .modal-footer
          .col-md-12
            button.btn.btn-primary(type="submit")
              | Listo
      form(ng-submit="send.EditEmail()",ng-if="options=='Correo'")
        .modal-body
          .row
            .col-xs-12(style="margin-bottom: 8px;")
              span.black
                i.fa.fa-male.fa-fw.black
                | Editar Correo
            .form-group.col-xs-12.input.has-feedback
              input.form-control(type="email",placeholder=" Ingresa tu correo electronico...",ng-model="send.form.mail")
              i.form-control-feedback.fv-icon-no-label(style="display: none;")
              small.help-block(style="display: none;") Por favor introduce un valor
              small.help-block(style="display: none;") Por favor introduce un email valor
        .modal-footer
          .col-md-12
            button.btn.btn-primary(type="submit")
              | Listo
      form(ng-submit="send.EditPassword()",ng-if="options=='Contraseña'")
        .modal-body
          .row
            .col-xs-12(style="margin-bottom: 8px;")
              span.black
                i.fa.fa-envelope.fa-fw.black
                | Contraseña
            .form-group.col-xs-12.input.has-feedback
              input.form-control(type="password",placeholder=" Ingresa tu actual contraseña...",value="{{123456789}}",ng-model="send.form.Oldpassword")
              i.form-control-feedback.fv-icon-no-label(style="display: none;")
              small.help-block(style="display: none;") Por favor introduce un valor
            .form-group.col-xs-12.input.has-feedback
              input.form-control(type="password",placeholder=" Ingresa tu nueva contraseña...",ng-model="send.form.password")
              i.form-control-feedback.fv-icon-no-label(style="display: none;")
              small.help-block(style="display: none;") Por favor introduce un valor
              small.help-block(style="display: none;") Por favor introduce un valor con una longitud válida
            .form-group.col-xs-12.input.has-feedback
              input.form-control(type="password",placeholder=" Repetir tu nueva contraseña...",ng-model="send.form.ValidPassword")
              i.form-control-feedback.fv-icon-no-label(style="display: none;")
              small.help-block(style="display: none;") Por favor introduce el mismo valor
        .modal-footer
          .col-md-12
            button.btn.btn-primary(type="submit")
              | Listo
      form(ng-submit="send.EditInfoBank()",ng-if="options=='Cuenta Bancaria'")
        .modal-body
          .row
            .form-group.col-xs-12.input.has-feedback
              select.form-control
                option(selected,disabled) Seleccione un banco 
              i.form-control-feedback.fv-icon-no-label(style="display: none;")
              small.help-block(style="display: none;") Por favor introduce un valor
            .form-group.col-xs-12.input.has-feedback
              select.form-control
                option(selected,disabled) Tipo de Cuenta 
              i.form-control-feedback.fv-icon-no-label(style="display: none;")
              small.help-block(style="display: none;") Por favor introduce un valor
            .form-group.col-xs-12.col-sm-12.col-md-2.col-lg-2.has-feedback
              select.form-control
                option(selected,disabled,value="V",ng-selected="true") V
                option(value="E") E
                option(value="P") P
                option(value="R") R
            .form-group.col-xs-12.col-sm-12.col-md-10.col-lg-10.has-feedback
              input.form-control(type="text",placeholder="Ingresa el numero de documento...")
              i.form-control-feedback.fv-icon-no-label(style="display: none;")
              small.help-block(style="display: none;") Por favor introduce un valor   
            .col-xs-12(style="margin-bottom: 8px;",ng-if="options=='Cuenta Bancaria'")
              span.black
                | Titular de la cuenta
            .form-group.col-xs-12.col-sm-12.col-md-10.col-lg-10.has-feedback
              input.form-control(type="text",placeholder="Nombre del titular",required)
              i.form-control-feedback.fv-icon-no-label(style="display: none;")
              small.help-block(style="display: none;") Por favor introduce un valor     
              small.help-block(style="display: none;") Por favor introduce un valor con una longitud válida
            .form-group.col-xs-12.col-sm-12.col-md-10.col-lg-10.has-feedback
              input.form-control(type="text",placeholder="Ingresa el numero de cuenta...")
              i.form-control-feedback.fv-icon-no-label(style="display: none;")
              small.help-block(style="display: none;") Por favor introduce un numero decimal válido  
              small.help-block(style="display: none;") Por favor introduce un valor   
              small.help-block(style="display: none;") Por favor introduce un valor con una longitud válida
            .form-group.col-xs-12.col-sm-12.col-md-10.col-lg-10.has-feedback
              input.form-control(type="text",placeholder="Ingresa tu correo electronico")
              i.form-control-feedback.fv-icon-no-label(style="display: none;")
              small.help-block(style="display: none;") Por favor introduce un valor
        .modal-footer
          .col-md-12
            button.btn.btn-primary(type="submit")
              | Listo
#store.modal.fade(tabindex="-1",role="dialog",aria-labelledby="store")
  .modal-dialog(role="document")
    .modal-content
      .modal-header
        button.close(type="button",data-dismiss="modal",aria-label="Close")
          span.black(aria-hidden="true") &times;
      .modal-body.text-center
        img.margin-center.img-responsive(ng-src="http://50.21.179.35:8083/icono_contacto.png",alt="bill-ok",width="200px",height="200px")
        h2.black Informacion Fiscal
        br
        .center-block.row
          .col-md-8.col-md-offset-2
            form(ng-submit="send.contact()")
              .form-group.has-feedback(ng-class="{'has-success': send.form.name, 'has-error': send.form.name==undefined}")
                input.form-control(type="text",placeholder="Nombre",ng-model="send.form.name",pattern="[A-Za-z]{1,}",required)
                span.glyphicon.glyphicon-ok.form-control-feedback(ng-show="send.form.name")
                span.glyphicon.glyphicon-remove.form-control-feedback(ng-show="send.form.name==undefined")
              .form-group.has-feedback(ng-class="{'has-success': send.form.mail, 'has-error': send.form.mail==undefined}")
                input.form-control(type="email",placeholder="Email",ng-model="send.form.mail",required="")
                span.glyphicon.glyphicon-ok.form-control-feedback(ng-show="send.form.mail")
                span.glyphicon.glyphicon-remove.form-control-feedback(ng-show="send.form.mail==undefined",title="Por favor introduce un email válido")
              .form-group.has-feedback(ng-class="{'has-success': send.form.fileRif, 'has-error': send.form.fileRif==undefined}")
                input.form-control(type="File")
                i.form-control-feedback(style="display: none;")
                small.help-block(style="display: none;") Por favor introduce un valor  
              .form-group.has-feedback(ng-class="{'has-success': send.form.fileRif, 'has-error': send.form.fileRif==undefined}")
                input.form-control(type="File")
                i.form-control-feedback(style="display: none;")
                small.help-block(style="display: none;") Por favor introduce un valor
              .form-group.col-xs-12.col-sm-12.col-md-12.col-lg-12.input.has-feedback(style="padding: 0;")
                textarea.form-control(rows="4",cols="",placeholder=" Direccion",style="overflow: hidden;")
                i.form-control-feedback.fv-icon-no-label(style="display: none;")
                small.help-block(style="display: none;") Por favor introduce un valor
                small.help-block(style="display: none;") Por favor introduce un valor con una longitud válida  
              .text-center
                button.btn.btn-default.border-radius-0(type="reset") Limpiar
                button.btn.btn-primary.border-radius-0(type="submit") Enviar
      .modal-footer
        .center-block.text-center
          | Apreciodepana, C.A. J-405824794 Táchira - Venezuela 
          br
          | Telefonos: (0276) 356.91.60 / (0276) 348.92.17 Email:contacto@apreciodepana.com
