.container(style="padding-top: 50px;")
  .filter.col-md-3.col-lg-2(style="padding-right: 5px;")
    .content-shadow-border
      .header
        | Categorias
      ul.categories
        li 
          a(role="button")
            | Chery (2) 
        li 
          a(role="button")  
            | Chevrolet (2) 
        li 
          a(role="button")
            | Dodge (2) 
        li 
          a(role="button")
            | Ford (2) 
        li 
          a(role="button")
            | Mazda (2) 
        li 
          a(role="button")
            | Nissan (2)
      .header
        | Ubicación
      ul.ubications
        li
          a(role="button")
            | Apure (1)
        li
          a(role="button")
            | Aragua (1)
        li
          a(role="button")
            | Bolivar (1)
        li
          a(role="button")
            | Distrito Capital (1)
        li
          a(role="button")
            | Miranda (1)
      .header
        | Condición
      ul.conditions
        li
          a(role="button")
            | Nuevo (3)
        li
          a(role="button")
            | Usado (7)
  .col-md-9.col-lg-10(style="padding-left: 5px;")
    .content-shadow-border
      .header.row.filter-breadcrumb
        .col-md-9(style="margin-top: 8px;")
          small(style="font-size: inherit;") 1 - 10 de 10 resultados
          ol.breadcrumb(style="display: inline;")
            li
              a(ui-sref="base.index") Inicio
            li.active {{category.item.name}}
        .col-md-3
          select.form-control.border-radius-0(ng-model="filter.orderBy",ng-change="filter.orderBy()")
            option(value="",selected) Mas Recientes
            option(value="1") Menos recientes
            option(value="2") Mayor Precio
            option(value="3") Menor Precio
      .content-publication.row(ng-repeat="collections in publications.items")
        .col-xs-12.col-sm-6.col-md-2.col-lg-2
          .framework-img
            .condicion-title-float
              span(ng-if="collections.status") Nuevo 
              span(ng-if="!collections.status") Usado
            img.img-responsive(ng-src="http://50.21.179.35:8083/{{collections.photos[0]}}",alt="framework-img")
        .col-xs-12.col-sm-6.col-md-7.col-lg-7
          p.details-publications
            span.title
              a
                b {{collections.name}}
            br
            span.shop 
              a
                b  {{collections.user.username}}
            br
            span.user {{collections.user.name}}
            br
            span.city(ng-if="collections.localities[0]")
              i.fa.fa-map-marker.fa-fw.t12.grisC
              | {{collections.localities[0].name}}
            span.city(ng-if="collections.localities[1]")
              i.fa.fa-map-marker.fa-fw.t12.grisC
              | {{collections.localities[1].name}}
            br
            span.review 
              i.fa.fa-eye.negro.opacity.fa-fw(style="")
              span {{collections.views}} Visitas
              | &nbsp;
              i.fa.fa-shopping-cart.fa-fw.negro.opacity
              span {{collections.totalSold}} Ventas
              | &nbsp;
        .col-xs-12.col-sm-12.col-md-3.col-lg-3.text-right
          div.details-publications2
            span.price.red
              b
                | Bs {{collections.price}}
                sup 00
              br
              button.btn.btn-primary(type="button") Comprar
              br
              span.times 
                time-ago(from-time="{{collections.startdate}}")
                //- i.glyphicon.glyphicon-time.opacity
                span
                  br
                  div(style="margin-top: 0px;")
                    div.like
                      span
                      a
                        i.fa.fa-heart
        .col-xs-12.col-sm-6.col-md-2.col-lg-2
        .col-xs-12.col-sm-12.col-md-12.col-lg-10.pull-right
          .line-horizontal
