#sales
  h4.title 
    span.black Publicaciones Automatizadas
  hr
  .tabs-item
    ul.nav.nav-tabs(role="tablist")
      li.active(role="presentation")
        a(href="#enabled",aria-controls="enabled",role="tab",data-toggle="tab")
          | Compartidas
          span.badge.badge-publicar-before  {{activeTotal}} 
      li(role="presentation")
        a(href="#pause",aria-controls="pause",role="tab",data-toggle="tab") 
          | Sin Compartir 
          span.badge.badge-publicar-before  {{endedTotal}}
    br
    .filter-search
      .row
        .col-lg-5.col-md-5
          .input-group
            span.input-group-btn
              button.btn.btn-default(type="button",ng-click="send.search()")
                i.glyphicon.glyphicon-search
            input.form-control(type="text",placeholder="Buscar",ng-model="send.form.search",ng-change="send.search()")
        .col-lg-7.col-md-7.text-right
          .btn-group
            button.btn.btn-default(type="button") Filtrar
            button.btn.btn-default.dropdown-toggle(type="button",data-toggle="dropdown",aria-haspopup="true",aria-expanded="false")
              span.caret
              span.sr-only Toggle Dropdown
            ul.dropdown-menu
              li
                a.point Más Ventas
              li
                a.point Menos Venta
          | &nbsp;
          | &nbsp;
          span Ventas 1 de 1
          | &nbsp;
          | &nbsp;
          select.form-control.input-sm(style="max-width: 150px;display:inline-block")
            option Más Recientes
            option Menos Recientes
    br  
    .tab-content
      #enabled.tab-pane.fade.active.in(role="tabpanel")
        .content-publication.row(ng-repeat="collections in activesSales.items")
          .col-xs-12.col-sm-6.col-md-2.col-lg-2
            .framework-img
              .condicion-title-float
                span(ng-if="collections.status") Nuevo 
                span(ng-if="!collections.status") Usado
              a(ui-sref="base.publication({id: collections._id})",ng-if="collections.photos[0]")
                img.img-responsive(ng-src="http://50.21.179.35:8083/{{collections.photos[0]}}",alt="framework-img")
              a(ui-sref="user.publication({id: collections.user._id})",ng-if="collections.photo")
                img.img-responsive(ng-src="http://50.21.179.35:8083/{{collections.photo}}",alt="framework-img")
          .col-xs-12.col-sm-6.col-md-7.col-lg-7
            p.details-publications
              span.title
                a(ui-sref="base.publication({id: collections._id})")
                  b {{collections.name}}
              br
              span.shop 
                a(ui-sref="user.publication({id: collections.user._id})")
                  b {{collections.user.username}}
                  b(ng-if="collections.username")  {{collections.name}}
              br
              span.user {{collections.user.name}}
              br
              span.city(ng-if="collections.localities[0]")
                i.fa.fa-map-marker.fa-fw.t12.grisC
                | {{collections.localities[0].name}}
              span.city(ng-if="collections.localities[1]")
                i.fa.fa-map-marker.fa-fw.t12.grisC
                | {{collections.localities[1].name}}
              br
              span.color-apdp(ng-if="collections.joined")
                span
                  time-ago.color-apdp(from-time="{{collections.joined}}")
                |  vendiendo en 
                span.color-apdp A Precio De Pana
              span.review(ng-if="!collections.username") 
                i.fa.fa-eye.negro.opacity.fa-fw(style="")
                span {{collections.views}} Visitas
                | &nbsp;
                i.fa.fa-shopping-cart.fa-fw.negro.opacity
                span {{collections.transactions}} Ventas
                | &nbsp;
          .col-xs-12.col-sm-12.col-md-3.col-lg-3.text-right
            div.details-publications2
              span.price.red
                b.pull-right(ng-if="!collections.username")
                  | {{collections.price | filterMoney : "Bs" : true}}
                  sup 00
                br
                .text-right  
                  button.btn.btn-primary.btn-send(type="button",ng-if="!collections.username") Comprar
                  .following(ng-if="collections.username")
                    btn-follow(ng-model="collections._id",on="collections.youfollow") 
                  br
                  span.times(ng-if="!collections.username") 
                    time-ago(from-time="{{collections.startdate}}")
                    //- i.glyphicon.glyphicon-time.opacity
                    span
                      br
                      div(style="margin-top: 0px;")
                        div.like
                          btn-like(like="false")
          .col-xs-12.col-sm-6.col-md-2.col-lg-2
          .col-xs-12.col-sm-12.col-md-12.col-lg-10.pull-right
            .line-horizontal
      #finish.tab-pane.fade(role="tabpanel")
        .content-publication.row(ng-repeat="collections in completeSales.items")
          .col-xs-12.col-sm-6.col-md-2.col-lg-2
            .framework-img
              .condicion-title-float
                span(ng-if="collections.status") Nuevo 
                span(ng-if="!collections.status") Usado
              a(ui-sref="base.publication({id: collections._id})",ng-if="collections.photos[0]")
                img.img-responsive(ng-src="http://50.21.179.35:8083/{{collections.photos[0]}}",alt="framework-img")
              a(ui-sref="user.publication({id: collections.user._id})",ng-if="collections.photo")
                img.img-responsive(ng-src="http://50.21.179.35:8083/{{collections.photo}}",alt="framework-img")
          .col-xs-12.col-sm-6.col-md-7.col-lg-7
            p.details-publications
              span.title
                a(ui-sref="base.publication({id: collections._id})")
                  b {{collections.name}}
              br
              span.shop 
                a(ui-sref="user.publication({id: collections.user._id})")
                  b {{collections.user.username}}
                  b(ng-if="collections.username")  {{collections.name}}
              br
              span.user {{collections.user.name}}
              br
              span.city(ng-if="collections.localities[0]")
                i.fa.fa-map-marker.fa-fw.t12.grisC
                | {{collections.localities[0].name}}
              span.city(ng-if="collections.localities[1]")
                i.fa.fa-map-marker.fa-fw.t12.grisC
                | {{collections.localities[1].name}}
              br
              span.color-apdp(ng-if="collections.joined")
                span
                  time-ago.color-apdp(from-time="{{collections.joined}}")
                |  vendiendo en 
                span.color-apdp A Precio De Pana
              span.review(ng-if="!collections.username") 
                i.fa.fa-eye.negro.opacity.fa-fw(style="")
                span {{collections.views}} Visitas
                | &nbsp;
                i.fa.fa-shopping-cart.fa-fw.negro.opacity
                span {{collections.transactions}} Ventas
                | &nbsp;
          .col-xs-12.col-sm-12.col-md-3.col-lg-3.text-right
            div.details-publications2
              span.price.red
                b.pull-right(ng-if="!collections.username")
                  | {{collections.price | filterMoney : "Bs" : true}}
                  sup 00
                br
                .text-right  
                  button.btn.btn-primary.btn-send(type="button",ng-if="!collections.username") Comprar
                  .following(ng-if="collections.username")
                    btn-follow(ng-model="collections._id",on="collections.youfollow") 
                  br
                  span.times(ng-if="!collections.username") 
                    time-ago(from-time="{{collections.startdate}}")
                    //- i.glyphicon.glyphicon-time.opacity
                    span
                      br
                      div(style="margin-top: 0px;")
                        div.like
                          btn-like(like="false")
          .col-xs-12.col-sm-6.col-md-2.col-lg-2
          .col-xs-12.col-sm-12.col-md-12.col-lg-10.pull-right
            .line-horizontal
