#sales
  h4.title 
    span.black Vincular Tus Redes Sociales
  hr
  .row.col-md-8.col-md-offset-2.network-link
    .col-md-12.col-sm-12.col-xs-12.text-center
      img.img-responsive.col-md-4.col-sm-4.col-xs-4(ng-src="http://50.21.179.35:8083/silueta-bill.png",alt="photo-default")
      button.col-md-5.col-sm-5.col-xs-5.btn.btn-networkLink(type="button")
        span(style="word-break: break-all;white-space: normal;") Vincula tu cuenta de Facebook
      span.col-md-3.col-sm-3.col-xs-3 
        img.col-md-6.col-sm-6.col-xs-6(ng-src="http://50.21.179.35:8083/facebook.png",alt="photo-facebook")
        a.col-md-6.col-sm-6.col-xs-6(role="button")
          | Desvincular
    .col-md-12.col-sm-12.col-xs-12.text-center
      img.img-responsive.col-md-4.col-sm-4.col-xs-4(ng-src="http://50.21.179.35:8083/silueta-bill.png",alt="photo-default")
      button.col-md-5.col-sm-5.col-xs-5.btn.btn-networkLink(type="button")
        span(style="word-break: break-all;white-space: normal;") Vincula tu cuenta de Twitter
      span.col-md-3.col-sm-3.col-xs-3 
        img.col-md-6.col-sm-6.col-xs-6(ng-src="http://50.21.179.35:8083/twitter.png",alt="photo-twitter")
        a.col-md-6.col-sm-6.col-xs-6(role="button")
          | Desvincular
    .col-md-12.col-sm-12.col-xs-12.text-center
      img.img-responsive.col-md-4.col-sm-4.col-xs-4(ng-src="http://50.21.179.35:8083/silueta-bill.png",alt="photo-default")
      button.col-md-5.col-sm-5.col-xs-5.btn.btn-networkLink(type="button")
        span(style="word-break: break-all;white-space: normal;") Vincula tu fan page
      span.col-md-3.col-sm-3.col-xs-3 
        img.col-md-6.col-sm-6.col-xs-6(ng-src="http://50.21.179.35:8083/like2.png",alt="photo-page")
        a.col-md-6.col-sm-6.col-xs-6(role="button")
          | Desvincular
  br
  .row
    .col-md-12.text-right
      span Tecnologia Desarrolada por 
        span.black
          i.fa.fa-copyright.fa-fw
          | 1AManager 
        
        
