#profile.container(style="padding-top: 50px;")
  .header-profile(hover-profile).hidden-xs
    a.img-cover-edit(ngf-select,ng-model='send.form.cover',ngf-accept="'image/png,image/jpeg'",ngf-pattern="'image/png,image/jpeg'",ngf-change="send.ModalEdit()",ng-if="!id")
      i.fa.fa-camera
      span Actualizar Portada
    a#ModalEdit.hidden(data-toggle="modal",data-target="#Preview")
    .network-link
      ul
        li
          a
            img(ng-src="http://50.21.179.35:8083/facebook.png",alt="facebook")
        li
          a
            img(ng-src="http://50.21.179.35:8083/twitter.png",alt="twitter")
        li
          a
            img(ng-src="http://50.21.179.35:8083/instagram.png",alt="instagram")
        li
          a
            img(ng-src="http://50.21.179.35:8083/youtube.png",alt="youtube")
    .following
      btn-follow(ng-model="_id",on="info.youfollow") 
    img.img-responsive(ng-src="http://50.21.179.35:8083/{{info.cover}}",alt="img-profile",ng-if="info.cover")
    img.img-responsive(ng-src="http://50.21.179.35:8083/portada.png",alt="img-profile",ng-if="!info.cover")
    .img-profile-name
      .col-md-3.text-center(style="position: relative;")
        .img-profile-transform
          div(style="height: 100%;position: relative;")
            a.edit-img-profile(ngf-select,ng-model='send.form.photo',ngf-accept="'image/png,image/jpeg'",ngf-pattern="'image/png,image/jpeg'",ngf-change="send.ModalEdit()",ng-if="!id")
              i.fa.fa-camera.pull-left
              span Actualizar Foto
            img.img-responsive(ng-if="info.photo",ng-src="http://50.21.179.35:8083/{{info.photo}}",alt="img-profile",width="100%",height="100%")
            img.img-responsive(ng-if="!info.photo",ng-src="http://50.21.179.35:8083/silueta-bill.png",alt="img-profile",width="100%",height="100%")
      .col-md-9
        h2 {{info.username}}
        span {{info.description}}
    .nav-profile.col-md-12    
      nav#navbar-profile.navbar.navbar-default.navbar-static-top
        .container-fluid
          .navbar-header 
            button.collapsed.navbar-toggle(type="button",data-toggle="collapse",data-target="#navbar-profile",aria-expanded="false") 
              span.sr-only Toggle navigation 
              span.icon-bar 
              span.icon-bar 
              span.icon-bar  
          .col-md-3
          .collapse.navbar-collapse 
            ul.nav.navbar-nav 
              li(ui-sref-active="active")
                a(ui-sref="profile.publication",ng-if="!id") Publicaciones
                a(ui-sref="user.publication({id: id})",ng-if="id") Publicaciones
              li(ui-sref-active="active")
                a(ui-sref="profile.info",ng-if="!id") Información
                a(ui-sref="user.info({id: id})",ng-if="id") Información
              li(ui-sref-active="active")
                a(ui-sref="profile.friends",ng-if="!id") Panas
                a(ui-sref="user.friends({id: id})",ng-if="id") Panas
              li(ui-sref-active="active")
                a(ui-sref="profile.following",ng-if="!id") Siguiendo ({{follows.total}})
                a(ui-sref="user.following({id: id})",ng-if="id") Siguiendo
              li(ui-sref-active="active")
                a(ui-sref="profile.followers",ng-if="!id") Seguidores
                a(ui-sref="user.followers({id: id})",ng-if="id") Seguidores
              li(ui-sref-active="active")
                a(ui-sref="profile.publicationLike({id: id})",ng-if="!id") Favoritos
  .header-profile-responsive.hidden-lg.hidden-md.hidden-sm
    .portada(style="background-image: url('http://50.21.179.35:8083/{{info.cover}}')",ng-if="info.cover")      
    .portada(style="background-image: url('http://50.21.179.35:8083/portada.png')",ng-if="!info.cover")
    .network-link
      ul
        li
          a
            img(ng-src="http://50.21.179.35:8083/facebook.png",alt="facebook")
        li
          a
            img(ng-src="http://50.21.179.35:8083/twitter.png",alt="twitter")
        li
          a
            img(ng-src="http://50.21.179.35:8083/instagram.png",alt="instagram")
        li
          a
            img(ng-src="http://50.21.179.35:8083/youtube.png",alt="youtube")
    .sub-portada.row
      .profile.col-xs-6.col-xs-offset-3.text-center
        div
          img.img-circle(ng-if="info.photo",ng-src="http://50.21.179.35:8083/{{info.photo}}",alt="img-profile",width="100%",height="100%")
          img.img-circle(ng-if="!info.photo",ng-src="http://50.21.179.35:8083/silueta-bill.png",alt="img-profile",width="100%",height="100%")
      .bars
        ul.nav.navbar
          li
            a#menu-bars.white.pointer(data-toggle="dropdown",aria-haspopup="true",aria-expanded="false")
              i.fa.fa-ellipsis-v.fa-2x.white
            ul.dropdown-menu(aria-labelledby="#menu-bars",style="right: 0;left: inherit;")
              li(ui-sref-active="active")
                a(ui-sref="profile.publication",ng-if="!id") Publicaciones
                a(ui-sref="user.publication({id: id})",ng-if="id") Publicaciones
              li(ui-sref-active="active")
                a(ui-sref="profile.info",ng-if="!id") Información
                a(ui-sref="user.info({id: id})",ng-if="id") Información
              li(ui-sref-active="active")
                a(ui-sref="profile.friends",ng-if="!id") Panas
                a(ui-sref="user.friends({id: id})",ng-if="id") Panas
              li(ui-sref-active="active")
                a(ui-sref="profile.following",ng-if="!id") Siguiendo ({{follows.total}})
                a(ui-sref="user.following({id: id})",ng-if="id") Siguiendo
              li(ui-sref-active="active")
                a(ui-sref="profile.followers",ng-if="!id") Seguidores
                a(ui-sref="user.followers({id: id})",ng-if="id") Seguidores
              li(ui-sref-active="active")
                a(ui-sref="profile.publicationLike({id: id})",ng-if="!id") Favoritos
      .follow
        ul.nav.navbar
          li
            btn-follow(ng-model="_id",on="info.youfollow")
      .col-xs-12.text-center
        h4.white {{info.username}}
        p.white(style="word-wrap: break-word;padding: 0 20px;") {{info.description}}
  #publication-user.content-shadow-border
    div(ui-view='')
#Preview.modal.fade.blue(tabindex="-1",role="dialog",aria-labelledby="Preview")
  .modal-dialog(role="document")
    .modal-content
      .modal-header
        button.close(type="button",data-dismiss="modal",aria-label="Close")
          span.black(aria-hidden="true") &times;
        img.margin-center(ng-src="http://50.21.179.35:8083/bill-ok.png",alt="bill-ok",width="50px",height="50px")
        span(ng-if="send.form.cover") Edita tu foto de portada
        span(ng-if="send.form.photo") Edita tu foto de perfil
      .modal-body.text-center
        .center-block.row(ng-show="send.form.cover")
            ng-croppie(src="inputImageCover",ng-model='outputImageCover',update='onUpdate',boundry="{w: 600, h: 600}",viewport="{w: 500, h: 300}",orientation="true",rotation="90",type="square",mousezoom="true",zoom="true",zoomslider="true")
        .center-block.row(ng-show="send.form.photo")    
            ng-croppie(src="inputImagePhoto",ng-model='outputImagePhoto',update='onUpdate',boundry="{w: 600, h: 600}",viewport="{w: 300, h: 300}",orientation="true",rotation="90",type="square",mousezoom="true",zoom="true",zoomslider="true")
      .modal-footer
        .col-md-12
          button.btn.btn-default(type="button")
            | Cambiar Imagen
          button.btn.btn-primary(type="button",ng-click="send.send()")
            | Guardar
