.row(style="padding-left: 36px;padding-right: 36px;")
  .col-lg-12.col-md-12.col-sm-12.col-xs-12.content-shadow-border
    .col-xs-12.col-sm-12.col-md-4.col-lg-4
      h3.margin-0.black 
        i.fa.fa-tags.black
        |  Panas
    .col-xs-12.col-sm-12.col-md-8.col-lg-8.text-right.hidden-xs
      .navbar-form.margin-0.text-center(role="filter")
        .btn-group
          button.btn.btn-default
            i.fa.fa-list
          button.btn.btn-default
            i.fa.fa-th-large
        form(ng-submit="send.search()",style="display: inline-block;")
          .input-group
            span.input-group-btn
              button.btn.btn-default(type="submit")
                i.fa.fa-search 
            input.form-control(type="text",placeholder="Buscar",ng-model="send.form.search",ng-change="send.search()")
        select#filter2.form-control.input(name="filter2")
          option(value="0") Todos
          option(value="1") Mas Ventas
          option(value="2") Empresas
          option(value="3") Personas
          option(value="4") Tachira
    .col-xs-12.col-sm-12.col-md-8.col-lg-8.text-right.padding-col-0.hidden-lg.hidden-md.hidden-sm
      .navbar-form.margin-0.text-center(role="filter")
        .col-xs-6.padding-col-0
          form(ng-submit="send.search()",style="display: inline-block;")
            .input-group
              span.input-group-btn
                button.btn.btn-default(type="submit")
                  i.fa.fa-search 
              input.form-control(type="text",placeholder="Buscar",ng-model="send.form.search",ng-change="send.search()")
        .col-xs-6.padding-col-0
          select#filter2.form-control.input(name="filter2")
            option(value="0") Todos
            option(value="1") Mas Ventas
            option(value="2") Empresas
            option(value="3") Personas
            option(value="4") Tachira
        .col-xs-12.padding-col-0
          .btn-group
            button.btn.btn-default
              i.fa.fa-list
            button.btn.btn-default
              i.fa.fa-th-large
.row(style="padding-left: 36px;padding-right: 36px;")
  .col-lg-3.col-md-3.col-sm-6.col-xs-12(ng-repeat="collections in friendships.items")
    .thumbnail
      img(ng-src="http://50.21.179.35:8083/{{collections.photo}}",alt="profile-photo")
      .caption
        h3 {{collections.username}}
        small {{collections.name}}
        button.btn.btn-default(type="button",ng-click="send.follow()")
          i.fa.fa-thumbs-up
  .col-md-12(ng-if="friendships.total===0")
    .alert.alert-warning.text-center(role="alert")
      i.fa.fa-info-circle.fa-fw 
      | {{$parent.info.username}} aun no tiene panas.
  .col-xs-12.col-sm-12.col-md-12.col-lg-12.text-center(ng-show="total>10")
    ul(uib-pagination,total-items="total",ng-model="currentPage",items-per-page="limit",max-size="5",ng-change="pageChanged()",num-pages="num",class="pagination-sm",boundary-link-numbers="true",rotate="false")    
