.row(style="padding-left: 36px;padding-right: 36px;")
  .col-lg-12.col-md-12.col-sm-12.col-xs-12.content-shadow-border(style="background: #f5f5f5;")
    .col-xs-12.col-sm-12.col-md-4.col-lg-4
      h3.margin-0.black 
        i.fa.fa-user.black
        |  Informacion
    .col-xs-12.col-sm-12.col-md-8.col-lg-8.text-right
br
#info.row(style="padding-left: 36px;padding-right: 36px;")
  .col-xs-12.col-sm-12.col-md-12.col-lg-12
    .row.input-edit(style="margin-right: 40px;margin-left: 40px;")
      .col-xs-12.col-sm-12.col-md-7.col-lg-7
        .input-group(role="edit-form",hover-edit="action.edit()",action="actionOn")
          span.input-group-btn
            button.btn.btn-default(type="button",disabled) 
              i.fa.fa-phone
          input.form-control.phone(type="tel",pattern="[0-9]{6,}",disabled,ng-model="action.form.phone")
          span.btn-close.hidden(role="button")
            i.fa.fa-times
        .input-group(role="edit-form",hover-edit="action.edit()",action="actionOn")
          span.input-group-btn
            button.btn.btn-default(type="button",disabled) 
              i.fa.fa-envelope
          input.form-control(type="email",disabled,ng-model="action.form.mail")
          span.btn-close.hidden(role="button")
            i.fa.fa-times
        .input-group(role="edit-form",hover-edit="action.edit()",action="actionOn")
          span.input-group-btn
            button.btn(type="button",disabled) 
              i.fa.fa-map-marker
          input.form-control(type="text",disabled,ng-model="action.form.address")
          span.btn-close.hidden(role="button")
            i.fa.fa-times
      .col-xs-12.col-sm-12.col-md-5.col-lg-5
        .network-link.text-center
          ul
            li
              a
                img(ng-src="http://50.21.179.35:8083/facebook.png",alt="facebook",ng-class="{'active': Auth.user.facebook}")
            li
              a
                img(ng-src="http://50.21.179.35:8083/twitter.png",alt="twitter",ng-class="{'active': Auth.user.twitter}")
            li
              a
                img(ng-src="http://50.21.179.35:8083/instagram.png",alt="instagram")
            li
              a
                img(ng-src="http://50.21.179.35:8083/youtube.png",alt="youtube")
        .input-group.has-feedback(role="edit-form",hover-edit="action.edit()",style="background: #FAFAFA;",action="actionOn")
          span.input-group-btn
            button.btn.btn-default(type="button",disabled,style="border-color: transparent;background: transparent;") 
              i.fa.material-icons language
          input.form-control.phone.underline(type="url",disabled,ng-model="action.form.website",href="true") 
          span.btn-close.hidden(role="button")
            i.fa.fa-times
          span.help-block.hidden Formato Invalido.
    hr
    .row.input-edit(style="margin-right: 40px;margin-left: 40px;")
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
          campo-edit(ng-model="action.form.description",on="action.edit()",label="{{action.form.nomb}}",action="actionOn")
    hr
    .row.input-edit(style="margin-right: 40px;margin-left: 40px;")
      .album.col-xs-12.col-sm-12.col-md-12.col-lg-12
        .col-md-12.title(style="margin-bottom: 16px")
          span 
            b Album de fotos
        .col-md-3.padding-col-0.album-photo    
          img.img-responsive(ng-if="!users.item.photo",ng-src="http://50.21.179.35:8083/{{auth.user.photo}}",alt="Album photo")
          img.img-responsive(ng-if="users.item.photo",ng-src="http://50.21.179.35:8083/{{users.item.photo}}",alt="Album photo")
    hr
    .row.input-edit(style="margin-right: 40px;margin-left: 40px;")
      .reputation.col-xs-12.col-sm-12.col-md-12.col-lg-12
        .col-md-12.title.padding-col-0(style="margin-bottom: 16px;")
          span  
            b Reputación como vendedor 
        .col-md-12.padding-col-0
          span
            em El vendedor no tiene suficientes calificaciones. 
          .col-md-12.padding-col-0
            uib-progressbar.progress-striped.col-md-6.col-sm-8.col-xs-12.padding-col-0(value="average",max="100",style="margin: 0;")
          .col-md-12.padding-col-0  
            p.black.text-left.col-md-6.col-sm-8.col-xs-12.padding-col-0
              span.green
                i.fa.fa-plus-square.fa-fw
                span(ng-if="!users.item") {{auth.user.rating.seller.tallied.two}}
                span(ng-if="users.item") {{users.item.rating.seller.tallied.two}}
              span.red
                i.fa.fa-minus-square.fa-fw
                span(ng-if="!users.item") {{auth.user.rating.seller.tallied.one}}
                span(ng-if="users.item") {{users.item.rating.seller.tallied.one}}
              span.blue
                i.fa.fa-circle.fa-fw
                span(ng-if="!users.item") {{auth.user.rating.seller.tallied.zero}}
                span(ng-if="users.item") {{users.item.rating.seller.tallied.zero}}
          a(href="#") Ver todas las calificaciones
          span.black
            span
              time-ago.black(ng-if="!users.item.joined",from-time="{{auth.user.joined}}")
              time-ago.black(ng-if="users.item.joined",from-time="{{users.item.joined}}")
            |  vendiendo en 
            span.color-apdp A Precio De Pana
