.container(style="padding-top: 50px")
  .col-xs-12.col-sm-12.col-md-12.col-lg-12 
    .col-xs-6.col-sm-6.col-md-6.col-lg-6
      ol.breadcrumb
        li
          a(ui-sref="base.index") Inicio
        li(ng-repeat="breadcrumb in publications.item.categories")
          a(ui-sref="base.searchCategories({id: breadcrumb._id})") {{breadcrumb.name}}
        li.active
          | {{publications.item.name}}
    .col-xs-6.col-sm-6.col-md-6.col-lg-6.breadcrumb.text-right
      span Publicacion #
        span {{publications.item.miniid}} &nbsp;
      a(class="pointer",data-toggle="modal",data-target="#report") Denunciar
  #publication.col-xs-12.col-sm-12.col-md-12.col-lg-12 
    .row.center-block
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        .title.text-center
          span.subtitle {{publications.item.name}}
          br
          span.review
            | --&nbsp;&nbsp;
            i.fa.fa-eye.fa-fw
            | {{publications.item.views}} Visitas&nbsp;&nbsp;
            i.fa.fa-shopping-cart.fa-fw
            | {{publications.item.transactions}} Ventas&nbsp;&nbsp; 
            | --
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        .row.content
          .col-xs-12.col-sm-12.col-md-7.col-lg-7.padding-col-0
            #gallery-collection.carousel.slide.row(data-ride="carousel")
              .col-md-12
                <!-- Indicators -->
                .col-md-2.padding-col-0
                  ol.carousel-indicators
                    li(ng-repeat="indicators in publications.item.photos",data-target="#gallery-collection",data-slide-to="{{$index}}",ng-class="{'active': $index==0}")
                      img.img-responsive(ng-src="http://50.21.179.35:8083/square/200/{{indicators}}")
                <!-- Wrapper for slides -->
                .col-md-8.padding-col-0
                  .carousel-inner(role="listbox")
                    .item(ng-repeat="collections in publications.item.photos",ng-class="{'active': $index==0}")
                      a(role="button",data-toggle="modal",data-target="#ZoomView",ng-click="ZoomView($index)")
                        //- zoom-img(ng-model="collections")
                        img(ng-src="http://50.21.179.35:8083/{{collections}}",alt="img collections")
                  <!-- Controls -->
                  span.left.carousel-control(ng-if="publications.item.photos.length>1",href="#gallery-collection",role="button",data-slide="prev")
                    span.fa.fa-angle-left(aria-hidden="true")
                    span.sr-only Anterior
                  span.right.carousel-control(ng-if="publications.item.photos.length>1",href="#gallery-collection",role="button",data-slide="next")
                    span.fa.fa-angle-right(aria-hidden="true")
                    span.sr-only Siguiente
          .col-xs-12.col-sm-12.col-md-5.col-lg-5.padding-col-0 
            .content-details
              br
              br
              span.black(ng-if="publications.item.status")
                i.fa.fa-tag.fa-fw.black
                | Nuevo
              span.black(ng-if="!publications.item.status")
                i.fa.fa-tag.fa-fw.black
                | Usado
              span.price.red
                b
                  | {{publications.item.price | filterMoney : "Bs" : true}} 
                  sup 00
                br
              span.stock(ng-if="publications.item.stock>0")
                | {{publications.item.stock}} Disponible
              span.stock(ng-if="publications.item.stock==0")
                | No Disponible
              br
              p.check-warranty(ng-if="publications.item.waranty")
                span
                  i.fa.fa-check-square
                  span
                    |   A consultar
                    span.black   Garantia
              br
              .text-left
                button.btn.btn-lg.btn-send.border-radius-0(type="button",ng-if="publications.item.stock>0",data-toggle="modal",data-target="#purchase") Comprar
                br.hidden-lg.hidden-md.hidden-sm
                br.hidden-lg.hidden-md.hidden-sm
                .link-social-like
                div.like
                  btn-like(like="publications.item.favorites",id="publications.item._id")
                  a(title="Compartir en Facebook")
                    i.fa.fa-facebook-square.fa-fw
                  a(title="Compartir en Twitter")
                    i.fa.fa-twitter-square.fa-fw
                hr
                a(href="#") Terminos y Condiciones
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        .text-center.title
          span.subtitle Información del vendedor
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        .row.content(style="padding: 20px;")
          .col-xs-12.col-sm-6.col-md-3.col-lg-3.padding-col-0
            .text-center
              a(ui-sref="user.Publicacion({id: publications.item.user._id})")
                img.img-responsive.img-circle.img-thumbnail(ng-src="http://50.21.179.35:8083/{{publications.item.user.photo}}",style="width: 45%;min-height: 100px;")
              br
              br
              span
                b
                  a(ui-sref="user.publication({id: publications.item.user._id})") {{publications.item.user.username}}
              br
              span.black {{publications.item.user.name}} {{publications.item.user.lastname}}
              br
              span
                i.fa.fa-map-marker.fa-fw.black
                span.black(ng-if="!publications.item.user.localities[1].name") {{publications.item.user.localities[0].name}}
                span.black(ng-if="publications.item.user.localities[1].name") {{publications.item.user.localities[1].name}}
              | &nbsp;&nbsp;
              span.black
                i.fa.fa-thumbs-o-up.fa-fw.black
                span.black {{publications.item.user.followers}} Seguidores  
              br
              br
              .following
                btn-follow(ng-model="publications.item.user._id",on="publications.item.user.youfollow")      
          .col-xs-12.col-sm-6.col-md-4.col-lg-4.padding-col-0
            .text-justify
              .blue-apdp
                b Biografia
              br
              span.opacity(ng-if="publications.item.user.description")
                | {{publications.item.user.description}}
              span.opacity(ng-if="!publications.item.user.description")
                | Sin información
          .hidden-xs.col-sm-12.col-md-5.col-lg-5.padding-col-0
            .reputation   
              span.blue-apdp
                b Reputación
              span.black(ng-if="average == 0")
                br
                | El vendedor no tiene suficientes calificaciones.
              br
              uib-progressbar.progress-striped.col-md-12.col-sm-12.col-xs-12.padding-col-0(value="average",max="100",style="margin: 0;")  
              p.black.text-left.col-md-12.col-sm-12.col-xs-12.padding-col-0
                span.green
                  i.fa.fa-plus-square.fa-fw
                  span {{publications.item.user.rating.seller.tallied.two}}
                span.red
                  i.fa.fa-minus-square.fa-fw
                  span {{publications.item.user.rating.seller.tallied.one}}
                span.blue
                  i.fa.fa-circle.fa-fw
                  span {{publications.item.user.rating.seller.tallied.zero}}
              .row  
                .col-md-6
                  span.black(style="margin: 10px 0;display: block;")
                    i.fa.fa-shopping-cart.fa-fw.black
                    | Ventas Concretas                   
                .col-md-6
                  a(href="#") Ver todas las calificaciones
            .text-left.color-apdp(style="margin-top: 10px;margin-left: 5px;")
              b.color-apdp(style="font-size: 12px;")
                span(style="font-size: 15px;font-weight: 700;")
                  |  Vendiendo en  
                  span.color-apdp  A Precio De Pana
                  time-ago.color-apdp(from-time="{{publications.item.user.joined}}")
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        .text-center.title
          span.subtitle Descripción de la publicación
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        .row.content.text-justify(style="padding: 20px;")
          p.opacity 
            | A Precio De Pana, C.A. no asume ninguna responsabilidad por la información contenida en este anuncio
            span.hidden-md.hidden-sm.hidden-lg.blue-apdp
              a(href="#") Ver mas información...
            span.hidden-xs , ya que ha sido suministrada en su totalidad por el usuario aquí identificado. A Precio De Pana, C.A. no es el propietario ni vende los artículos aquí ofrecidos y no participa en ninguna negociación, venta o perfeccionamiento de operaciones, sino que sólo se limita a la publicación y/o alojamiento de anuncios de sus usuarios. A Precio De Pana, C.A. no asume responsabilidad por daños o perjuicios que pudiere sufrir el usuario o visitante por operaciones sobre anuncios publicados en el sitio.
            span.blue-apdp.hidden.hidden-md.hidden-sm.hidden-lg
              a(href="#") Ocultal 
          hr
          br
          .description
            p.black(ng-bind-html="publications.item.body")
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        .text-center.title
          span.subtitle Preguntas al vendedor
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        #box-comments.row.content(style="padding: 20px;")
          .text-comments
            form(ng-submit="send.comments()")
              .textarea
                textarea(lang="5",maxlength="240",placeholder="Indica tu duda o pregunta ... ",ng-model="send.form.comment",ng-click="active=true",ng-class="{'active': active}",ng-change="letter.on()")
                p.text-right.black {{letter.count}} 
              .btn-comments.text-left
                button.btn.btn-default.btn-sm(type="reset",style="background-image: none;") Limpiar
                | &nbsp;&nbsp;
                button.btn.btn-primary.btn-sm(type="submit",style="background-image: none;") Preguntar
                | &nbsp;&nbsp;
                span no uses lenguaje vulgar por que sera supendida tu cuenta.                     		 
          br
          .box-commentss
            .last-cuestion.pull-right.text-center
              span Ultimas Preguntas
            p(ng-repeat="comments in comments.items")
              br
              i.fa.fa-comment.blue-apdp(style="margin-left: 10px;")
              span(style="margin-left: 5px;") {{comments.comment}}  
              span.opacity
                time-ago(from-time="{{comments.time}}")
              br
              p(ng-repeat="answere in comments.comments")
                i.fa.fa-comment.blue-apdp(style="margin-left: 20px;color: #00c3ec;")
                span(style="margin-left: 5px;") {{comments.comment}}  
                span.opacity(style="font-size: 12px;") 
                  time-ago(from-time="{{comments.time}}")
              br
              br
#ZoomView.modal.fade(tabindex="-1",role="dialog",aria-labelledby="SignUp")
  .modal-dialog.modal-lg(role="document")
    .modal-content
      .modal-header
        button.close(type="button",data-dismiss="modal",aria-label="Close")
          span.black(aria-hidden="true") &times;
      .modal-body.text-center
        #gallery-collectionZoom.carousel.slide.row(data-ride="carousel")
          <!-- Wrapper for slides -->
          .col-md-12.padding-col-0
            .carousel-inner(role="listbox")
              .item(ng-repeat="collections in publications.item.photos",ng-class="{'active': $index==0}")
                a(role="button",data-toggle="modal",data-target="#ZoomView")
                  img(ng-src="http://50.21.179.35:8083/{{collections}}",alt="img collections",style="display:inline-block;")
            <!-- Controls -->
            span.left.carousel-control(ng-if="publications.item.photos.length>1",href="#gallery-collectionZoom",role="button",data-slide="prev",style="opacity: 1;")
              span.fa.fa-angle-left(aria-hidden="true",style="background: rgba(0,0,0,1);color: white;")
              span.sr-only Anterior
            span.right.carousel-control(ng-if="publications.item.photos.length>1",href="#gallery-collectionZoom",role="button",data-slide="next",style="opacity: 1;")
              span.fa.fa-angle-right(aria-hidden="true",style="background: rgba(0,0,0,1);color: white;")
              span.sr-only Siguiente
            <!-- Indicators -->
            ol.carousel-indicators
              li(ng-repeat="indicators in publications.item.photos",data-target="#gallery-collection",data-slide-to="{{$index}}",ng-class="{'active': $index==0}")
                img.img-responsive(ng-src="http://50.21.179.35:8083/{{indicators}}")
#purchase.modal.fade.blue(tabindex="-1",role="dialog",aria-labelledby="purchase")
  .modal-dialog(role="document")
    .modal-content
      .modal-header
        button.close(type="button",data-dismiss="modal",aria-label="Close")
          span.black(aria-hidden="true") &times;
        img.margin-center(ng-src="http://50.21.179.35:8083/bill-ok.png",alt="bill-ok",width="50px",height="50px")
        span Concretar Compra
      .modal-body
        .row.content
          .col-xs-12.col-sm-12.col-md-6.col-lg-6.text-center
            .center-block.content-img
              img.img-responsive(ng-src="http://50.21.179.35:8083/{{publications.item.photos[0]}}")
            span {{purchase.item.stock}} Disponible
          .col-xs-12.col-sm-12.col-md-6.col-lg-6.text-left
            br
            .black
              b.black Datos del vendedor
            br
            a(href="") {{publications.item.user.username}}
            br
            span {{publications.item.user.name}} {{publications.item.user.lastname}}
            br  
            span {{publications.item.user.phone}}
            br
            span {{publications.item.user.mail}}
            br
            .quantity
              a(role="button",ng-click="quantityF(1)")
                i.fa.fa-minus.pointer
              input(type="text",ng-model="quantityValue",ng-value="quantity",min="1",max="{{publications.item.stock}}")
              a(role="button",ng-click="quantityF(0)")
                i.fa.fa-plus.pointer
            span(style="display: inline-block") 
              small Unidades
              | &nbsp; 
              small x
              | &nbsp;
            br.hidden-md.hidden-sm.hidden-lg 
            span.price.red
              b
                | {{publications.item.price | filterMoney : "Bs" : true}}
                sup 00
          br
          br
          br
          .col-xs-12.alert.alert-success.text-center
            b
              i.fa.fa-lock.fa-fw
            | Compra 100% protegida a través de        
            span
              b.color-apdp Pana
            span
              b.black Pago
      .modal-footer  
        button.btn.btn-default(type="button",data-dismiss="modal") Cancelar   
        button.btn.btn-send(type="button",data-dismiss="modal",ng-click="purchaseConfirm()") Concretar   
#purchaseSuccess.modal.fade(tabindex="-1",role="dialog",aria-labelledby="purchase")
  .modal-dialog(role="document",style="max-width: 500px;")
    .modal-content(style="padding: 20px;")
      .modal-header
        button.close(type="button",data-dismiss="modal",aria-label="Close")
          span.black(aria-hidden="true") &times;
      .modal-body
        .row.content
          .center-block.text-center(style="padding: 20px;")
            img.margin-center.img-responsive(ng-src="http://50.21.179.35:8083/bill-ok.png",alt="bill-ok",width="150px",height="150px")
            h4 ¡Tu compra ha sido procesada con exito! 
          .text-center
            button.btn.btn-send(type="button",ui-sref="base.checkout({publish: publications.item._id, type: 0,quantity: quantity,id: id})",style="font-size: 16px;border-radius: 5px;",data-dismiss="modal") Pagar al vendedor            
            button.btn.btn-custom(type="button",ui-sref="base.checkout({publish: publications.item._id, type: 1,quantity: quantity,id: id})",data-dismiss="modal")
              span.color-apdp
                b Pana
              span.black 
                b Pago
          br
          br
          .alert.alert-success.text-center(style="padding: 5px;margin: 0;")
            i.fa.fa-lock
            | Si pagas por
            span.color-apdp
              b Pana
            span.black(style="margin-left: -5px;")
              b Pago
            | , tu dinero estara protegido                                        

              
