.container(style="padding-top: 50px")
  #publish.col-xs-12.col-sm-12.col-md-12.col-lg-12
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      .btn-group.btn-group-justified
        .btn-group(role="group")
          button.btn.btn-default(type="button",style="padding-bottom: 15px;padding-top: 15px;",ng-disabled="disabledOne",ng-click="redirection()",ng-class="{'active': activeOne}") 
            span.badge.badge-blue 1
            b(style="color: #005fc1;") Que quieres publicar 
        .btn-group(role="group") 
          button.btn.btn-default(type="button",style="padding-bottom: 15px;padding-top: 15px;",ng-disabled="disabledTwo",ng-click="redirection(1)",ng-class="{'active': activeTwo}")
            span.badge.badge-blue 2
            b(style="color: #005fc1;") Como es tu producto 
        .btn-group(role="group") 
          button.btn.btn-default(type="button",style="padding-bottom: 15px;padding-top: 15px;",ng-disabled="disabledThird",ng-click="redirection(2)",ng-class="{'active': activeThird}") 
            span.badge.badge-blue 3
            b(style="color: #005fc1;") Confirma tu publicación
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      .content-animation(ui-view="") 
