.row
  .col-xs-12.col-sm-6.col-md-3.col-lg-3.categories.hover.text-center(ng-repeat="collection in category.items")
    a(ui-sref="publish.one({selector: collection._id})")
      h5 {{collection.name}}
      img.center-block.img-responsive(ng-src="http://50.21.179.35:8083/{{collection.picture}}")
