.row(style="margin-left: 80px;margin-right: 80px;")
  .col-xs-12.col-sm-12.col-md-12.col-lg-12 
    .header-custom.black
      i.fa.fa-tags.fa-fw.black
      | Tu Publicación
  .col-xs-12.col-sm-12.col-md-12.col-lg-12
    div(style="border: #ccc 1px solid")
      .row.text-left
        form(ng-submit="on.submit()")
          .col-xs-12.col-sm-12.col-md-12.col-lg-12
            .in-publish
              i.fa.fa-check-circle.green
              | Tu publicacion sera iniciada
              .input-group
                .input-group-addon
                  i.fa.fa-calendar.fa-fw
                input.form-control.picker__input(type="text",date-picker,ng-model="on.form.startdate",required)
              .subtitle
                .alert.alert-success(style="width: auto;")
                  i.fa.fa-info-circle.fa-fw
                  b Informacion: 
                  |  Tu publicacion es totalmente gratis y estara en nuestros listados durante 30 dias... 			
              .col-xs-12
                .checkbox
                  label 
                    input(type="checkbox",ng-model="checkbox")
                    | Acepto los
                    a(href="#") Terminos y Condiciones 
              .col-xs-12.text-right
                button.btn.btn-send(tyoe="submit",ng-hide="!checkbox") Publicar
              br
              br
              br
              br
              br
