.row
  .col-xs-12(style="padding: 20px 40px;")
    a(ui-sref="publish.base") 
      | << Anterior
.row
  .col-xs-12.col-sm-3.categories.text-center
    h5 {{category.item.name}}
    img.center-block.img-responsive(ng-src="http://50.21.179.35:8083/{{category.item.picture}}")
  .col-xs-12.col-sm-9
    .col-xs-12.col-sm-6.col-md-4.col-lg-4.categories(ng-repeat="items in categories")
      .list-hover
        .select
          ul
            li(ng-repeat="categories in categories[$index]",ng-class="{'active': active[$parent.$index]==categories._id}")
              a(role="button",ng-click="GetCategory(categories._id,$parent.$index)")
                | {{categories.name}}
    .col-xs-12.col-sm-6.col-md-4.col-lg-4.categories.text-center(ng-if="next")
      .center-block
        .like-icon
          i.fa.fa-thumbs-up.fa-4x
      h2(style="color: black;margin-bottom: 20px;") Listo!
      button.btn.btn-send.btn-lg(type="button",ui-sref="publish.two({selector: data})") Continuar
