#sales
  h4.title 
    span.black Preguntas sobre tus Ventas ({{answered.total}})
  hr
  .panel.group(ng-repeat="collection in answered.items")
    .panel.panel-default
      .panel-heading
        h4.panel-title
          a(ui-sref="base.publication({id: collection.publication._id})")
              img.img-responsive(ng-src="http://50.21.179.35:8083/{{collection.publication.photos[0]}}",alt="img-publicaciones",style="display: inline-block;width: 26px;")
          | &nbsp; 
          a(ui-sref="base.publication({id: collection.publication._id})")
            span.title-publicacion-comments {{collection.publication.name}}
          | &nbsp; 
          span.price.red(style="display: inline-block") {{collections.publication.price | filterMoney : "Bs" : true}}
          | &nbsp; 
          span.opacity x {{collection.publication.stock}} Und
          a.pull-right(ui-sref="user.publication({id: collection.user._id})",style="margin-top: 2.5px;")
            span(style="text-transform: uppercase") {{collection.user.username}}
            i.fa.fa-user.fa-fw
      .panel-body.collapse.in(style="padding-bottom: 0;")
        br
        p.text-comments-last(style="border-bottom: #ccc 1px dashed;")
          i.fa.fa-comment.blue-apdp
          span  
            | {{collection.comment}}
            span.opacity 
              time-ago(from-time="{{collection.time}}")
          br
          br
          br
        .row
          .col-md-12.text-right(id="{{$index}}")
            a.pointer.show(role="button",ng-click="show($index)",style="padding-bottom: 10px;") Responder
            a.pointer.hiden.hidden(role="button",ng-click="hide($index)",style="padding-bottom: 10px;") Ocultar
          br
          .box-comments.row.content.collapse(id="box-comments{{$index}}",style="padding: 20px;padding-bottom: 0;")
            .text-comments
              form(ng-submit="send.comments(collection._id,collection.publication._id)")
                .textarea
                  textarea(lang="5",maxlength="240",placeholder="Indica tu duda o pregunta ... ",ng-model="send.form.comment",ng-click="active=true",ng-class="{'active': active}",ng-change="letter.on()")
                  p.text-right.black {{letter.count}} 
                .btn-comments.text-left
                  button.btn.btn-default.btn-sm(type="reset",style="background-image: none;") Limpiar
                  | &nbsp;&nbsp;
                  button.btn.btn-primary.btn-sm(type="submit",style="background-image: none;") Responder
                  | &nbsp;&nbsp;
                  span no uses lenguaje vulgar por que sera supendida tu cuenta.                     		 
            br
