.container(style="padding-top: 50px;")
  .filter.col-md-3.col-lg-2(style="padding-right: 5px;")
    .content-shadow-border(style="padding: 10px;")
      .header
        | Categorias
      ul.categories
        li(ng-repeat="categories in categories") 
          a(role="button",ng-click="addFilter(0,categories._id)")
            | {{categories.name}} ({{categories.sum}}) 
      .header
        | Ubicación
      ul.ubications
        li(ng-repeat="localities in localities")
          a(role="button",ng-click="addFilter(1,localities._id)")
            | {{localities.name}} ({{localities.sum}})
      .header
        | Condición
      ul.conditions
        li(ng-repeat="states in states")
          a(role="button",ng-click="addFilter(2,states._id)")
            | {{states.name}} ({{states.sum}})
  .col-md-9.col-lg-10
    .content-shadow-border.row
      .header.row.filter-breadcrumb
        .col-md-9(style="margin-top: 8px;")
          small(style="font-size: inherit;") {{currentPage}} - {{num}} de {{total}} resultados
          ol.breadcrumb(style="display: inline;")
            li
              a(ui-sref="base.index") Inicio
            li(ng-if="flag")
              a(ui-sref="base.searchCategories({id: category.item._id})") {{category.item.name}}
            li.active(ng-if="!flag") 
              | '{{search}}'
        .col-md-3
          select.form-control.border-radius-0(ng-model="OrderSort.sort",ng-change="OrderSort.submit()")
            option(value="0",ng-selected="true") Mas Recientes
            option(value="1") Menos Recientes
            option(value="2") Mayor Precio
            option(value="3") Menor Precio
      .content-publication.row(ng-repeat="collections in items")
        .col-xs-12.col-sm-3.col-md-2.col-lg-2
          .framework-img
            .condicion-title-float(ng-if="!collections.document")
              span(ng-if="collections.status") Nuevo 
              span(ng-if="!collections.status") Usado
            a(ui-sref="base.publication({id: collections._id})",ng-if="collections.photos[0]")
              img.img-responsive(ng-src="http://50.21.179.35:8083/{{collections.photos[0]}}",alt="framework-img")
            a(ui-sref="user.publication({id: collections._id})",ng-if="collections.photo")
              img.img-responsive(ng-src="http://50.21.179.35:8083/{{collections.photo}}",alt="framework-img")
        .col-xs-6.col-sm-5.col-md-5.col-lg-5
          p.details-publications
            span.title
              a(ui-sref="base.publication({id: collections._id})",ng-if="!collections.username")
                b {{collections.name}}
              a(ui-sref="user.publication({id: collections._id})",ng-if="collections.username")
                b {{collections.name}}
            br
            span.shop 
              a(ui-sref="user.publication({id: collections.user._id})",ng-if="!collections.username")
                b {{collections.user.username}}
              a(ui-sref="user.publication({id: collections._id})",ng-if="collections.username")
                b(ng-if="collections.username")  {{collections.username}}
            br
            span.user {{collections.user.name}}
            br
            span.city(ng-if="collections.localities[0]")
              i.fa.fa-map-marker.fa-fw.t12.grisC
              | {{collections.localities[0].name}}
            span.city(ng-if="collections.localities[1]")
              i.fa.fa-map-marker.fa-fw.t12.grisC
              | {{collections.localities[1].name}}
            br
            span.color-apdp(ng-if="collections.joined")
              span
                time-ago.color-apdp(from-time="{{collections.joined}}")
              |  vendiendo en 
              span.color-apdp A Precio De Pana
            span.hidden-xs.review(ng-if="!collections.username") 
              i.fa.fa-eye.negro.opacity.fa-fw(style="")
              span {{collections.views}} Visitas
              | &nbsp;
              i.fa.fa-shopping-cart.fa-fw.negro.opacity
              span {{collections.transactions}} Ventas
              | &nbsp;
        .col-xs-6.col-sm-4.col-md-5.col-lg-5.text-right.padding-col-0
          div.details-publications2
            span.price.red
              b.pull-right.text-right(ng-if="!collections.username",style="width: 100%;")
                | {{collections.price | filterMoney : "Bs" : true}}
                sup 00
              br
              .text-right  
                button.btn.btn-primary.btn-send.hidden-xs(type="button",ng-if="!collections.username",data-toggle="modal",data-target="#purchase",ng-click="purchase($index)") Comprar
                .following(ng-if="collections.username")
                  btn-follow(ng-model="collections._id",on="collections.youfollow") 
                br
                span.times(ng-if="!collections.username") 
                  time-ago(from-time="{{collections.startdate}}")
                  //- i.glyphicon.glyphicon-time.opacity
                  span
                    br
                    div(style="margin-top: 0px;")
                      div.like
                        btn-like(like="collections.favorites",id="collections._id")
        .col-xs-12.hidden-lg.hidden-md.hidden-sm.text-center
          span.review(ng-if="!collections.username") 
            i.fa.fa-eye.negro.opacity.fa-fw(style="")
            span {{collections.views}} Visitas
            | &nbsp;
            i.fa.fa-shopping-cart.fa-fw.negro.opacity
            span {{collections.transactions}} Ventas
            | &nbsp;
            br
            br
        .col-xs-12.hidden-lg.hidden-md.hidden-sm
          button.btn.btn-primary.btn-send.btn-block(type="button",ng-if="!collections.username",data-toggle="modal",data-target="#purchase",ng-click="purchase($index)") Comprar
        .col-xs-12.col-sm-6.col-md-2.col-lg-2
        .col-xs-12.col-sm-12.col-md-12.col-lg-10.pull-right
          .line-horizontal
      .col-xs-12.col-sm-12.col-md-12.col-lg-12.text-center
        ul(uib-pagination,total-items="total",ng-model="currentPage",items-per-page="limit2",max-size="5",ng-change="pageChanged()",num-pages="num",class="pagination-sm",boundary-link-numbers="true",rotate="false")
        
#purchase.modal.fade.blue(tabindex="-1",role="dialog",aria-labelledby="purchase")
  .modal-dialog(role="document")
    .modal-content
      .modal-header
        button.close(type="button",data-dismiss="modal",aria-label="Close")
          span.black(aria-hidden="true") &times;
        img.margin-center(ng-src="http://50.21.179.35:8083/bill-ok.png",alt="bill-ok",width="50px",height="50px")
        span Concretar Compra
      .modal-body
        .row.content
          .col-xs-12.col-sm-12.col-md-6.col-lg-6.text-center
            .center-block.content-img
              img.img-responsive(ng-src="http://50.21.179.35:8083/{{purchase.item.photos[0]}}")
            span {{purchase.item.stock}} Disponible
          .col-xs-12.col-sm-12.col-md-6.col-lg-6.text-left
            br
            .black
              b.black Datos del vendedor
            br
            a(href="") {{purchase.item.user.username}}
            br
            span {{purchase.item.user.name}} {{purchase.item.user.lastname}}
            br  
            span {{purchase.item.user.phone}}
            br
            span {{purchase.item.user.mail}}
            br
            .quantity
              a(role="button",ng-click="quantityF(1)")
                i.fa.fa-minus.pointer
              input(type="text",ng-model="quantityValue",ng-value="quantity",min="1",max="{{purchase.item.stock}}")
              a(role="button",ng-click="quantityF(0)")
                i.fa.fa-plus.pointer
            span(style="display: inline-block") 
              small Unidades
              | &nbsp; 
              small x
              | &nbsp;
            br.hidden-md.hidden-sm.hidden-lg 
            span.price.red
              b
                | {{purchase.item.price | filterMoney : "Bs" : true}}
                sup 00
          br
          br
          br
          .col-xs-12.alert.alert-success.text-center
            b
              i.fa.fa-lock.fa-fw
            | Compra 100% protegida a través de        
            span
              b.color-apdp Pana
            span
              b.black Pago
      .modal-footer  
        button.btn.btn-default(type="button",data-dismiss="modal") Cancelar   
        button.btn.btn-send(type="button",data-dismiss="modal",ng-click="purchaseConfirm()") Concretar   
#purchaseSuccess.modal.fade(tabindex="-1",role="dialog",aria-labelledby="purchase")
  .modal-dialog(role="document",style="max-width: 500px;")
    .modal-content(style="padding: 20px;")
      .modal-header
        button.close(type="button",data-dismiss="modal",aria-label="Close")
          span.black(aria-hidden="true") &times;
      .modal-body
        .row.content
          .center-block.text-center(style="padding: 20px;")
            img.margin-center.img-responsive(ng-src="http://50.21.179.35:8083/bill-ok.png",alt="bill-ok",width="150px",height="150px")
            h4 ¡Tu compra ha sido procesada con exito! 
          .text-center
            button.btn.btn-send(type="button",ui-sref="base.checkout({publish: purchase.item._id, type: 0,quantity: quantity,id: id})",style="font-size: 16px;border-radius: 5px;",data-dismiss="modal") Pagar al vendedor            
            button.btn.btn-custom(type="button",ui-sref="base.checkout({publish: purchase.item._id, type: 1,quantity: quantity,id: id})",data-dismiss="modal")
              span.color-apdp 
                b Pana
              span.black 
                b Pago
          br
          br
          .alert.alert-success.text-center(style="padding: 5px;margin: 0;")
            i.fa.fa-lock
            | Si pagas por
            span.color-apdp
              b Pana
            span.black(style="margin-left: -5px;")
              b Pago
            | , tu dinero estara protegido                                        
