.container(style="padding-top: 50px;")
  .row
    .col-xs-12.col-sm-12.col-md-2.col-lg-2.padding-col-0
      .col-lg-12.col-md-12.col-sm-12.col-xs-12.padding-col-0.hidden-lg.hidden-md.hidden-sm(style="background: white;")
        h4.black(style="display: inline-block;padding: 6px 10px;") 
          i.fa.fa-user-circle-o.fa-fw.black
          |  Mi Cuenta
        button.navbar-toggle.collapsed(type="button",data-toggle="collapse",data-target="#accordion",aria-expanded="true",style="padding: 6px 10px;")
          span.fa.fa-bars.fa-fw
      .col-lg-12.col-md-12.col-sm-12.col-xs-12.padding-col-0
        ul#accordion.menu.collapse.in(accordion)
          li
            a(ui-sref=".summary")
              i.fa.fa-list-ul.fa-fw
              b Resumen  
          li
            a(ui-sref=".reputation")
              i.glyphicon.glyphicon-thumbs-up.fa-fw
              b Reputación
          li.dcjq-parent-li
            a.dcjq-parent(ng-class="{'active': salesActive}",ui-sref="sales",role="button")
              i.fa.fa-tags.fa-fw
              b Ventas
            ul
              li
                a(ui-sref-active="active",ui-sref="sales.publications({state: 'enabled', page: 1, search: undefined})") Publicaciones
              li
                a(ui-sref-active="active",ui-sref="sales.sales({state: 'enabled', page: 1, search: undefined})") Ventas
              li
                a(ui-sref-active="active",ui-sref="sales.question") Preguntas
              li
                a(ui-sref-active="active",ui-sref="sales.claims") Reclamos
          li.dcjq-parent-li
            a.dcjq-parent(ui-sref-active="active",ui-sref="purchases",role="button")
              i.fa.fa-shopping-cart.fa-fw
              b Compras
            ul
              li
                a(ui-sref-active="active",ui-sref="purchases.favorites") Favoritos
              li
                a(ui-sref-active="active",ui-sref="purchases.question") Preguntas
              li
                a(ui-sref-active="active",ui-sref="purchases.purchases({state: 'enabled', page: 1, search: undefined})") Compras
          li.dcjq-parent-li
            a.dcjq-parent(ui-sref-active="active",ui-sref="summary.billingPay",role="button")
              i.fa.fa-credit-card.fa-fw
              b Facturación
            ul
              li
                a(ui-sref-active="active",ui-sref="summary.billingPay") Cuentas por pagar
          li.dcjq-parent-li
            a.dcjq-parent(ui-sref-active="active",ui-sref="managerNetwork",role="button")
              i.fa.fa-share-alt.fa-fw
              b Gestión de Redes
            ul
              li
                a(ui-sref-active="active",ui-sref="managerNetwork.link") Vincular Red Social
              li
                a(ui-sref-active="active",ui-sref="managerNetwork.publicationAuto") Publicaciones automatizadas
              li
                a(ui-sref-active="active",ui-sref="managerNetwork.campaigns") Campañas publicitarias
          li.dcjq-parent-li
            a.dcjq-parent(ui-sref-active="active",ui-sref="summary.configurationDataUser",role="button")
              i.fa.fa-cogs.fa-fw
              b Configuración            
            ul
              li
                a(ui-sref-active="active",ui-sref="summary.configurationDataUser") Datos Personales
    .col-xs-12.col-sm-12.col-md-10.col-lg-10.col-profile
      .content-shadow-border(ui-view="")
      
