span(us-spinner="{radius:30, width:8, length: 16}",spinner-on="showSpinner")
div.mask(ng-show="showSpinner")
.col-xs-12
	.row
		h1.page-header.text-center  Bancos
	.row
		button.btn.btn-primary.btn-block(data-target='#agregar',data-toggle='collapse') Agregar
		#agregar.collapse
			form#formBanks.form-horizontal(ng-submit='post()')
				fieldset
					.form-group
						.col-md-6
							label.control-label(for='name') Nombre
							input#name.form-control(type='text',required,ng-model='Banks.a.name')
						.col-md-6
							label.control-label(for='format') Formato
							input#format.form-control(type='text',required,ng-model='Banks.a.format')
					.col-xs-12.text-center
						.form-group
							button.btn.btn-default(type='reset') Borrar
							button.btn.btn-success(type='submit') Enviar
	hr
	//.row
		h3.text-center  Buscar
		form#formBanks.form-horizontal()
			fieldset
				.form-group
					.col-xs-12
						label.control-label(for='inputfather') Nombre
						input#name.form-control(type='text',ng-change="Banks.get()",ng-model='Banks.s.name')
	.row
		.col-xs-12
			dir-pagination-controls(pagination-id="pag",boundary-links="true",template-url="/static/dirPagination.tpl.html")
	.row
		.col-sm-12
			.table-responsive(double-scroll, wait="Banks.total > 0")
					table.table.table-stripped.table-bordered.table-hover.no-footer(sticky-header, wait="Banks.total > 0")
						thead
							tr
								th
									| Nombre
								th
									| Formato
								th
									| Editar
								th
									| Eliminar
								th
									| ID
						tbody
							tr(dir-paginate='item in Banks.items | itemsPerPage: Banks.s.limit',pagination-id="pag",current-page="Banks.s.currentPage",total-items="Banks.total")
								td
									| {{item.name}}
								td
									| {{item.format}}
								td
									button.btn.btn-primary.btn-circle(type='button',ng-click='Banks.setPut(item); load(); ',data-toggle='modal',data-target='#modalEdit')
										i.fa.fa-pencil
								td
									button.btn.btn-danger.btn-circle(type='button',ng-click='Banks.setDelete(item)')
										i.fa.fa-trash
								td
									| {{item._id}}
	.row
		.col-sm-12
			dir-pagination-controls(pagination-id="pag", boundary-links="true", on-page-change="Banks.pageChange(newPageNumber)", template-url="/static/dirPagination.tpl.html")
#modalEdit.modal.fade
		.modal-dialog.modal-lg
			.modal-content
				form#formModalCurrency(ng-submit='put()')
					.modal-header
						button.close(type='button',data-dismiss='modal')
							span(aria-hidden='true') &times;
						h3 Editar
					.modal-body.row
						.form-group
							.col-md-6
								label.control-label(for='name') Nombre
								input#name.form-control(type='text',required,ng-model='Banks.p.name')
							.col-md-6
								label.control-label(for='format') Formato
								input#format.form-control(type='text',required,ng-model='Banks.p.format')
					.modal-footer
						button#cerrarModal.btn.btn-danger(type='button', data-dismiss='modal') Cerrar
						button.btn.btn-success(type='submit') Enviar