span(us-spinner="{radius:30, width:8, length: 16}",spinner-on="showSpinner")
div.mask(ng-show="showSpinner")
.col-xs-12
	.row
		h1.page-header.text-center  Banner
	.row
		button.btn.btn-primary.btn-block(data-toggle='collapse',data-target='#agregar') Agregar
		#agregar.collapse
			form#formBanners.form-horizontal(ng-submit='post()')
				fieldset
					.form-group
						.col-xs-12
							label.control-label(for='inputFile') Imagen
							button#files.btn.btn-lg.btn-default.btn-block.drop-box(ngf-select,ng-model='Banners.a.file',ngf-accept="'image/png,image/jpeg'",ngf-pattern="'image/png,image/jpeg'") Buscar imagen
							.box-single-preview(ng-show='Banners.a.file.name')
								img.img-preview-med(ngf-src='Banners.a.file')
					.col-xs-12.text-center
						.form-group
							button.btn.btn-default(type='reset') Borrar
							button.btn.btn-success(type='submit') Enviar
	hr
	.row
		.col-xs-12
			dir-pagination-controls(pagination-id="pag",boundary-links="true",template-url="/static/dirPagination.tpl.html")
	.row
		.col-sm-12
			.table-responsive(double-scroll, wait="Banners.total > 0")
					table.table.table-stripped.table-bordered.table-hover.no-footer(sticky-header, wait="Banners.total > 0")
						thead
							tr
								th
									| Imagen
								th
									| Editar
								th
									| Eliminar
								th
									| ID
						tbody
							tr(dir-paginate='item in Banners.items | itemsPerPage: Banners.s.limit',pagination-id="pag",current-page="Banners.s.currentPage",total-items="Banners.total")
								td
									img.img-responsive.img-circle(ng-src='http://50.21.179.35:8083/square/100/{{item.file}}')
								td
									button.btn.btn-primary.btn-circle(type='button',ng-click='Banners.setPut(item); load(); ',data-toggle='modal',data-target='#modalEdit')
										i.fa.fa-pencil
								td
									button.btn.btn-danger.btn-circle(type='button',ng-click='Banners.setDelete(item)')
										i.fa.fa-trash
								td
									| {{item._id}}
	.row
		.col-sm-12
			dir-pagination-controls(pagination-id="pag", boundary-links="true", on-page-change="Banners.pageChange(newPageNumber)", template-url="/static/dirPagination.tpl.html")
#modalEdit.modal.fade
		.modal-dialog.modal-lg
			.modal-content
				form#formModalCurrency(ng-submit='put()')
					.modal-header
						button.close(type='button',data-dismiss='modal')
							span(aria-hidden='true') &times;
						h3 Editar						
					.modal-body.row
						.col-xs-12
							button.btn.btn-lg.btn-default.btn-block.drop-box(ngf-select,ng-model='Banners.p.file',ngf-accept="'image/png,image/jpeg'",ngf-pattern="'image/png,image/jpeg'") Arrastra la imagen
							.box-single-preview(ng-show='Banners.p.file.name')
								img.img-preview-med(ngf-src='Banners.p.file')
								span
									a.btn.btn-danger.btn-block(ng-click='Banners.p.file={}')
										span
											i.fa.fa-times.fa-fw
							.box-single-preview(ng-hide='Banners.p.file.name')
								img.img-preview-med(src='http://50.21.179.35:8083/square/500/{{Banners.p.file}}')
					.modal-footer
						button#cerrarModal.btn.btn-danger(type='button', data-dismiss='modal') Cerrar
						button.btn.btn-success(type='submit') Enviar