span(us-spinner="{radius:30, width:8, length: 16}",spinner-on="showSpinner")
div.mask(ng-show="showSpinner")
.col-xs-12
	.row
		h1.page-header.text-center  Categorias
	.row
		button.btn.btn-primary.btn-block(data-toggle='collapse', data-target='#agregar') Agregar
		#agregar.collapse
			form#formCategories.form-horizontal(ng-submit='post()')
				fieldset
					.form-group
						.col-xs-6
							label.control-label(for='inputName') Nombre
							input#inputName.form-control(type='text',required,ng-model='Category.a.name')
						.col-xs-6
							label.control-label(for='inputfather') Padre
							category-creator(model="Category.a.categories")
						.col-xs-6
							label.control-label(for='sinonims') Sinonimos
							textarea#sinonims.form-control(type='text',required,ng-model='Category.a.sinonims')
						.col-xs-6
							label.control-label(for='inputFile') Imagen
							button#files.btn.btn-lg.btn-default.btn-block.drop-box(ngf-select,ng-model='Category.a.file',ngf-accept="'image/png,image/jpeg'",ngf-pattern="'image/png,image/jpeg'") Buscar imagen
							.box-single-preview(ng-show='Category.a.file.name')
								img.img-preview-med(ngf-src='Category.a.file')
					.col-xs-12.text-center
						.form-group
							button.btn.btn-default(type='reset') Borrar
							button.btn.btn-success(type='submit') Enviar
	hr
	.row
		h3.text-center  Buscar
		form#formCategories.form-horizontal()
			fieldset
				.form-group
					.col-xs-6
						label.control-label(for='name') Nombre
						input#name.form-control(type='text',ng-change="Category.get()",ng-model='Category.s.name')
					.col-xs-6
						label.control-label(for='father') Padre
						category-creator(change="get();", model="Category.s.categories")
					
	.row
		.col-xs-12
			dir-pagination-controls(pagination-id="pag",boundary-links="true",template-url="/static/dirPagination.tpl.html")
	.row
		.col-sm-12
			.table-responsive(double-scroll, wait="Category.total > 0")
					table.table.table-stripped.table-bordered.table-hover.no-footer(sticky-header, wait="Category.total > 0")
						thead
							tr
								th
									| Nombre				
								th
									| Sinonimos				
								th
									| Imagen				
								th
									| Editar
								th
									| Eliminar
								th
									| ID
						tbody
							tr(dir-paginate='item in Category.items | itemsPerPage: Category.s.limit',pagination-id="pag",current-page="Category.s.currentPage",total-items="Category.total")
								td
									| {{item.name}}
								td
									| {{item.sinonims}}
								td
									img.img-responsive.img-circle(ng-src='http://50.21.179.35:8083/square/100/{{item.picture}}')
								td
									button.btn.btn-primary.btn-circle(type='button',ng-click='Category.setPut(item); load(); ',data-toggle='modal',data-target='#modalEdit')
										i.fa.fa-pencil
								td
									button.btn.btn-danger.btn-circle(type='button',ng-click='Category.setDelete(item)')
										i.fa.fa-trash
								td
									| {{item._id}}
	.row
		.col-sm-12
			dir-pagination-controls(pagination-id="pag", boundary-links="true", on-page-change="Category.pageChange(newPageNumber)", template-url="/static/dirPagination.tpl.html")
#modalEdit.modal.fade
		.modal-dialog.modal-lg
			.modal-content
				form#formModalCurrency(ng-submit='put()')
					.modal-header
						button.close(type='button',data-dismiss='modal')
							span(aria-hidden='true') &times;
						h3.text-center Editar						
					.modal-body.row
						form-group
							.col-xs-6
								label.control-label(for='inputName') Nombre
								input#inputName.form-control(type='text',required,ng-model='Category.p.name')
							.col-xs-6
								label.control-label(for='sinonims') Sinonimos
								textarea#sinonims.form-control(type='text',required,ng-model='Category.p.sinonims')
							.col-xs-6
								button.btn.btn-lg.btn-default.btn-block.drop-box(ngf-select,ng-model='Category.p.file',ngf-accept="'image/png,image/jpeg'",ngf-pattern="'image/png,image/jpeg'") Arrastra la imagen
								.box-single-preview(ng-show='Category.p.file.name')
									img.img-preview-med(ngf-src='Category.p.file')
									span
										a.btn.btn-danger.btn-block(ng-click='Category.p.file={}')
											span
												i.fa.fa-times.fa-fw
								.box-single-preview(ng-hide='Category.p.file.name')
									img.img-preview-med(src='http://50.21.179.35:8083/square/500/{{Category.p.picture}}')
					.modal-footer
						button#cerrarModal.btn.btn-danger(type='button', data-dismiss='modal') Cerrar
						button.btn.btn-success(type='submit') Enviar