span(us-spinner="{radius:30, width:8, length: 16}",spinner-on="showSpinner")
div.mask(ng-show="showSpinner")
.col-xs-12
	.row
		h1.page-header.text-center  Categorias de FAQS
	.row
		button.btn.btn-primary.btn-block(data-toggle='collapse', data-target='#agregar') Agregar
		#agregar.collapse
			form#formCategories.form-horizontal(ng-submit='post()')
				fieldset
					.form-group
						.col-xs-6
							label.control-label(for='inputName') Nombre
							input#inputName.form-control(type='text',required,ng-model='Categoryfaqs.a.name')
						.col-xs-6
							label.control-label(for='inputfather') Padre
							categoryfaqs-creator(model="Categoryfaqs.a.categories")
						.col-xs-6
							label.control-label(for='sinonims') Sinonimos
							textarea#sinonims.form-control(type='text',required,ng-model='Categoryfaqs.a.sinonims')
					.col-xs-12.text-center
						.form-group
							button.btn.btn-default(type='reset') Borrar
							button.btn.btn-success(type='submit') Enviar
	hr
	.row
		h3.text-center  Buscar
		form#formCategories.form-horizontal()
			fieldset
				.form-group
					.col-xs-12
						label.control-label(for='father') Padre
						categoryfaqs-picker(change="get();", model="Categoryfaqs.s.categories")
	.row
		.col-xs-12
			dir-pagination-controls(pagination-id="pag",boundary-links="true",template-url="/static/dirPagination.tpl.html")
	.row
		.col-sm-12
			.table-responsive(double-scroll, wait="Categoryfaqs.total > 0")
					table.table.table-stripped.table-bordered.table-hover.no-footer(sticky-header, wait="Categoryfaqs.total > 0")
						thead
							tr
								th
									| Nombre				
								th
									| Sinonimos												
								th
									| Editar
								th
									| Eliminar
								th
									| ID
						tbody
							tr(dir-paginate='item in Categoryfaqs.items | itemsPerPage: Categoryfaqs.s.limit',pagination-id="pag",current-page="Categoryfaqs.s.currentPage",total-items="Categoryfaqs.total")
								td
									| {{item.name}}
								td
									| {{item.sinonims}}
								td
									button.btn.btn-primary.btn-circle(type='button',ng-click='Categoryfaqs.setPut(item); load(); ',data-toggle='modal',data-target='#modalEdit')
										i.fa.fa-pencil
								td
									button.btn.btn-danger.btn-circle(type='button',ng-click='Categoryfaqs.setDelete(item)')
										i.fa.fa-trash
								td
									| {{item._id}}
	.row
		.col-sm-12
			dir-pagination-controls(pagination-id="pag", boundary-links="true", on-page-change="Categoryfaqs.pageChange(newPageNumber)", template-url="/static/dirPagination.tpl.html")
#modalEdit.modal.fade
		.modal-dialog.modal-lg
			.modal-content
				form#formModalCurrency(ng-submit='put()')
					.modal-header
						button.close(type='button',data-dismiss='modal')
							span(aria-hidden='true') &times;
						h3.text-center Editar						
					.modal-body.row
						form-group
							.col-xs-6
								label.control-label(for='inputName') Nombre
								input#inputName.form-control(type='text',required,ng-model='Categoryfaqs.p.name')
							.col-xs-6
								label.control-label(for='inputName') Padre
								categoryfaqs-creator(model="Categoryfaqs.p.categories")
							.col-xs-6
								label.control-label(for='sinonims') Sinonimos
								textarea#sinonims.form-control(type='text',required,ng-model='Categoryfaqs.p.sinonims')
					.modal-footer
						button#cerrarModal.btn.btn-danger(type='button', data-dismiss='modal') Cerrar
						button.btn.btn-success(type='submit') Enviar