span(us-spinner="{radius:30, width:8, length: 16}",spinner-on="showSpinner")
div.mask(ng-show="showSpinner").row
.col-xs-12
	.row
		h1.page-header.text-center Chat de Propuesta para Ticket {{Proposal.item.ticket.name}}
	.row
		.col-xs-12
			.chat-panel.panel.panel-default
				.panel-heading
					i.fa.fa-comments.fa-fw
					|  Chat
				.panel-body
					ul.chat#chat
						li.clearfix(ng-repeat="item in Message.items | orderBy : 'time' track by item._id", id="{{item._id}}", ng-class="{'left': User._id != item.user._id, 'right': User._id == item.user._id}", on-finish-render="ngRepeatFinished")
							span.chat-img(ng-if="item.by != 3", ng-class="{'pull-right': User._id == item.user._id, 'pull-left': User._id != item.user._id}")
								img.img-circle(src='//uploads.qllevo.com/square/50/{{item.user.photo}}', alt='Avatar')
							.chat-body.clearfix(style="{{item.by == 3 ? 'text-align: center !important' : ''}}")
								.header
									strong.primary-font(ng-if="User._id != item.user._id") {{Message.by[item.by]}} - {{item.user.name}}
									strong.pull-right.primary-font(ng-if="User._id == item.user._id") Tu
									small.text-muted(ng-class="{'pull-right': User._id != item.user._id}")
										i.fa.fa-clock-o.fa-fw
										time-ago(from-time="{{item.time}}")
								p
									| {{item.message}}
								p(ng-if="item.file")
									a(href="//uploads.qllevo.com/square/500/{{item.file}}", target="_blank")
										img(src="//uploads.qllevo.com/square/250/{{item.file}}")
				// /.panel-body
				form.panel-footer(ng-submit="SocketChat.sendMessage();")
					.input-group
						input#btn-input.form-control.input-sm(placeholder='Escribe tu mensaje', ng-disabled="!SocketChat.online", required, ng-model="SocketChat.a.message", type='text')
						span.input-group-btn
							button#btn-chat.btn.btn-warning.btn-sm
								| Enviar