span(us-spinner="{radius:30, width:8, length: 16}",spinner-on="showSpinner")
div.mask(ng-show="showSpinner")
.col-lg-12
  .row
    h1.page-header.text-center  {{subtitle}}
  .row
    form#formCat.form-horizontal(ng-submit='send()')
      fieldset
        .form-group
          h3.text-center Contenido
          div.col-lg-10(placeholder='Contenido', text-angular,ng-model='value')
        .form-group
          .col-lg-10.col-lg-offset-2.text-center
            button.btn.btn-default(type='reset',ng-click='removePhoto()') Cancelar
            button.btn.btn-primary(type='submit') Enviar
