span(us-spinner="{radius:30, width:8, length: 16}",spinner-on="showSpinner")
div.mask(ng-show="showSpinner")
.col-xs-12
	.row
		h1.page-header.text-center  FAQS
	.row
		button.btn.btn-primary.btn-block(data-toggle='collapse',data-target='#agregar') Agregar
		#agregar.collapse
			//h3.text-center Agregar
			form#formFaqs.form-horizontal(ng-submit='post()')
				fieldset
					.form-group
						.col-xs-6
							label.control-label(for='inputName') Nombre
							input#inputName.form-control(type='text',required,ng-model='Faqs.a.name')
						.col-xs-6
							label.control-label(for='tags') Etiquetas
							input#tags.form-control(type='text',required,ng-model='Faqs.a.tags',aria-describedby='help')
							span#help.help-block Coloque las etiquetas separadas por comas.
						.col-xs-12
							label.control-label(for='sinonims') Descripción
							div(placeholder='Contenido', text-angular,ng-model='Faqs.a.body',required)
						.col-xs-12
							label.control-label(for='inputfather') Categorias de FAQS
							categoryfaqs-picker(model="Faqs.a.categoriesfaq")
					.col-xs-12.text-center
						.form-group
							button.btn.btn-default(type='reset') Borrar
							button.btn.btn-success(type='submit') Enviar
	hr
	.row
		h3.text-center  Buscar
		form#formFaqs.form-horizontal()
			fieldset
				.form-group
					.col-xs-6
						label.control-label(for='name') Nombre
						input#name.form-control(type='text',ng-change="Faqs.get()",ng-model='Faqs.s.name')
					.col-xs-6
						label.control-label(for='father') Padre
						categoryfaqs-picker(change="get();", model="Faqs.s.categoriesfaq")
						
		.row
			.col-xs-12
				dir-pagination-controls(pagination-id="pag",boundary-links="true",template-url="/static/dirPagination.tpl.html")
		.row
			.col-sm-12
				.table-responsive(double-scroll, wait="Faqs.total > 0")
						table.table.table-stripped.table-bordered.table-hover.no-footer(sticky-header, wait="Faqs.total > 0")
							thead
								tr
									th
										| Nombre
									th
										| Editar
									th
										| Eliminar
									th
										| ID
							tbody
								tr(dir-paginate='item in Faqs.items | itemsPerPage: Faqs.s.limit',pagination-id="pag",current-page="Faqs.s.currentPage",total-items="Faqs.total")
									td
										| {{item.name}}
									td
										button.btn.btn-primary.btn-circle(type='button',ng-click='Faqs.setPut(item); load(); ',data-toggle='modal',data-target='#modalEdit')
											i.fa.fa-pencil
									td
										button.btn.btn-danger.btn-circle(type='button',ng-click='Faqs.setDelete(item)')
											i.fa.fa-trash
									td
										| {{item._id}}
		.row
			.col-sm-12
				dir-pagination-controls(pagination-id="pag", boundary-links="true", on-page-change="Faqs.pageChange(newPageNumber)", template-url="/static/dirPagination.tpl.html")
#modalEdit.modal.fade
		.modal-dialog.modal-lg
			.modal-content
				form#formModalCurrency(ng-submit='put()')
					.modal-header
						button.close(type='button',data-dismiss='modal')
							span(aria-hidden='true') &times;
						h3.text-center Editar						
					.modal-body.row
						.form-group
							.col-xs-6
								label.control-label(for='inputName') Nombre
								input#inputName.form-control(type='text',required,ng-model='Faqs.p.name')
							.col-xs-6
								label.control-label(for='inputName') Etiquetas
								input#inputName.form-control(type='text',required,ng-model='Faqs.p.tags',aria-describedby='help')
								span#help.help-block Coloque las etiquetas separadas por comas.
							.col-xs-12
								label.control-label(for='sinonims') Descripción
								div(placeholder='Contenido', text-angular,ng-model='Faqs.p.body',required)
							.col-xs-12
								label.control-label(for='inputName') Categorias
								categoryfaqs-picker(model="Faqs.p.categoriesfaq")
					.modal-footer
						button#cerrarModal.btn.btn-danger(type='button', data-dismiss='modal') Cerrar
						button.btn.btn-success(type='submit') Enviar