.container 
	.row(style='margin-top: 20%;')
		.col-md-4.col-md-offset-4
			.login-panel.panel.panel-default
				.panel-heading
					h3.panel-title Inicia sesión para continuar
				.panel-body
					form#login_form(name='login_form', ng-submit='send()')
						fieldset
							.form-group
								label.control-label(for='login-name') Nombre:
								input#login-name.form-control(type='email', autocomplete="off", required='', ng-model='form.mail', name='name')
							.form-group
								label.control-label(for='login-password') Password:
								input#login-password.form-control(type='password', autocomplete="off", required='', ng-model='form.password', name='password')
						button.btn.btn-lg.btn-success.btn-block(type='submit') Iniciar Sesión
						button.btn.btn-lg.btn-success.btn-block(type='button', data-toggle="modal", data-target="#forgotModal") Olvide mi Contraseña		
div#forgotModal.modal.fade(tab-index="-1",role="dialog",aria-labelledby="modalLabel")
	div.modal-dialog(role="document")
		form.modal-content(ng-submit="forgot()")
			div.modal-header
				button.close(type="button",data-dismiss="modal",aria-label="Cerrar")
					span(aria-hidden="true") &times;
				h4#modalLabel.modal-title Recuperar
			div.modal-body
				fieldset.form-horizontal
					.form-group
						label.col-lg-2.control-label(for='phone') Email
						.col-lg-10
							input#mail.form-control(required, type='email',ng-model='forgot.mail')
			div.modal-footer
				button#closeForgotModal.btn.btn-default(type="reset",data-dismiss="modal") Cancelar
				button.btn.btn-primary(type="submit") Aceptar
