span(us-spinner="{radius:30, width:8, length: 16}",spinner-on="showSpinner")
div.mask(ng-show="showSpinner")
.col-xs-12
	.row
		h1.page-header.text-center  Localidades
	.row
		//button.btn.btn-primary.btn-block(data-toggle='collapse',data-target='#agregar') Agregar
		//#agregar.collapse
		h3.text-center Agregar
		form#formLocality.form-horizontal(ng-submit='post()')
			fieldset
				.form-group
					.col-md-6
						.col-md-12
							label.control-label(for='inputName') Nombre
							input#inputName.form-control(type='text',required,ng-model='Locality.a.name')
						.col-md-12
							ng-map#first(center="[{{ GeoPosition.position.lat }}, {{ GeoPosition.position.lng }}]")
					.col-md-6
						label.control-label(for='inputfather') Padre
						locality-creator(model="Locality.a.localities")
				.col-xs-12.text-center
					.form-group
						button.btn.btn-default(type='reset') Borrar
						button.btn.btn-success(type='submit') Enviar
	hr
	.row
		h3.text-center  Buscar
		form#formLocality.form-horizontal()
			fieldset
				.form-group
					.col-xs-6
						label.control-label(for='name') Nombre
						input#name.form-control(type='text',ng-change="Locality.get()",ng-model='Locality.s.name')
					.col-xs-6
						label.control-label(for='fahter') Padre
						locality-creator(change="get();", model="Locality.s.localities")
					
	.row
		.col-xs-12
			dir-pagination-controls(pagination-id="pag",boundary-links="true",template-url="/static/dirPagination.tpl.html")
	.row
		.col-sm-12
			.table-responsive(double-scroll, wait="Locality.total > 0")
					table.table.table-stripped.table-bordered.table-hover.no-footer(sticky-header, wait="Locality.total > 0")
						thead
							tr
								th
									| Nombre
								th
									| Editar
								th
									| Eliminar
								th
									| ID
						tbody
							tr(dir-paginate='item in Locality.items | itemsPerPage: Locality.s.limit',pagination-id="pag",current-page="Locality.s.currentPage",total-items="Locality.total")
								td
									| {{item.name}}
								td
									button.btn.btn-primary.btn-circle(type='button',ng-click='Locality.setPut(item); load(); ',data-toggle='modal',data-target='#modalEdit')
										i.fa.fa-pencil
								td
									button.btn.btn-danger.btn-circle(type='button',ng-click='Locality.setDelete(item)')
										i.fa.fa-trash
								td
									| {{item._id}}
	.row
		.col-sm-12
			dir-pagination-controls(pagination-id="pag", boundary-links="true", on-page-change="Locality.pageChange(newPageNumber)", template-url="/static/dirPagination.tpl.html")
#modalEdit.modal.fade
		.modal-dialog.modal-lg
			.modal-content
				form#formModalCurrency(ng-submit='put()')
					.modal-header
						button.close(type='button',data-dismiss='modal')
							span(aria-hidden='true') &times;
						h3 Editar						
					.modal-body.row
						form-group(ng-if="loaded")
							.col-xs-12
								label.control-label(for='modalName') Nombre
								input#modalName.form-control(type='text',required,ng-model='Locality.p.name')
							.col-xs-12
								ng-map#second(center="[{{ GeoPosition.position.lat }}, {{ GeoPosition.position.lng }}]")
					.modal-footer
						button#cerrarModal.btn.btn-danger(type='button', data-dismiss='modal') Cerrar
						button.btn.btn-success(type='submit') Enviar