.container 
	.row
		.col-md-4.col-md-offset-4
			.login-panel.panel.panel-default
				.panel-heading
					h3.panel-title Inicia sesión para continuar
				.panel-body
					form#login_form(name='login_form', ng-submit='send()')
						fieldset
							.form-group
								label.control-label(for='login-name') Tu nueva Contraseña:
								input#login-name.form-control(type='password', autocomplete="off", required='', ng-model='User.p.password', name='name')
						button.btn.btn-lg.btn-success.btn-block(type='submit') Recuperar Contraseña