span(us-spinner="{radius:30, width:8, length: 16}",spinner-on="showSpinner")
div.mask(ng-show="showSpinner")
.col-xs-12
	.row
		h1.page-header.text-center  Spots Publicitarios
	.row
		button.btn.btn-primary.btn-block(data-toggle='collapse',data-target='#agregar') Agregar
		#agregar.collapse
			form#formSpots.form-horizontal(ng-submit='post()')
				fieldset
					.form-group
						.col-xs-6
							label.control-label(for='href') URL
							input#href.form-control(type='text', ng-model='Spots.a.href', required)
						.col-xs-6
							label.control-label(for='title') Título
							input#title.form-control(type='text', ng-model='Spots.a.title', required)
						.col-xs-12
							label.control-label(for='description') Descripción
							textarea#description.form-control(ng-model='Spots.a.description', required)
					.col-xs-12.text-center
						.form-group
							button.btn.btn-default(type='reset') Borrar
							button.btn.btn-success(type='submit') Enviar
	hr
	.row
		.col-xs-12
			dir-pagination-controls(pagination-id="pag",boundary-links="true",template-url="/static/dirPagination.tpl.html")
	.row
		.col-sm-12
			.table-responsive(double-scroll, wait="Spots.total > 0")
					table.table.table-stripped.table-bordered.table-hover.no-footer(sticky-header, wait="Spots.total > 0")
						thead
							tr
								th
									| Title
								th
									| Editar
								th
									| Eliminar
								th
									| ID
						tbody
							tr(dir-paginate='item in Spots.items | itemsPerPage: Spots.s.limit',pagination-id="pag",current-page="Spots.s.currentPage",total-items="Spots.total")
								td
									| {{item.title}}
								td
									button.btn.btn-primary.btn-circle(type='button',ng-click='Spots.setPut(item); load(); ',data-toggle='modal',data-target='#modalEdit')
										i.fa.fa-pencil
								td
									button.btn.btn-danger.btn-circle(type='button',ng-click='Spots.setDelete(item)')
										i.fa.fa-trash
								td
									| {{item._id}}
	.row
		.col-sm-12
			dir-pagination-controls(pagination-id="pag", boundary-links="true", on-page-change="Spots.pageChange(newPageNumber)", template-url="/static/dirPagination.tpl.html")
#modalEdit.modal.fade
		.modal-dialog.modal-lg
			.modal-content
				form#formModalSpots(ng-submit='put()')
					.modal-header
						button.close(type='button',data-dismiss='modal')
							span(aria-hidden='true') &times;
						h3.text-center Editar						
					.modal-body.row
						.col-xs-6
							label.control-label(for='href') URL
							input#href.form-control(type='text', ng-model='Spots.p.href', required)
						.col-xs-6
							label.control-label(for='title') Título
							input#title.form-control(type='text', ng-model='Spots.p.title', required)
						.col-xs-12
							label.control-label(for='description') Descripción
							textarea#description.form-control(ng-model='Spots.p.description', required)
					.modal-footer
						button#cerrarModal.btn.btn-danger(type='button', data-dismiss='modal') Cerrar
						button.btn.btn-success(type='submit') Enviar