span(us-spinner="{radius:30, width:8, length: 16}",spinner-on="showSpinner")
div.mask(ng-show="showSpinner")
.col-xs-12
	.row
		h1.page-header.text-center  Transacciones
	.row
		h3.text-center  Buscar
		form#formTransactions.form-horizontal()
			fieldset
				.form-group
					.col-xs-12
						label.control-label(for='inputfather') Nombre
						input#name.form-control(type='text',ng-change="Transactions.get()",ng-model='Transactions.s.name')
	.row
		.col-xs-12
			dir-pagination-controls(pagination-id="pag",boundary-links="true",template-url="/static/dirPagination.tpl.html")
	.row
		.col-sm-12
			.table-responsive(double-scroll, wait="Transactions.total > 0")
					table.table.table-stripped.table-bordered.table-hover.no-footer(sticky-header, wait="Transactions.total > 0")
						thead
							tr
								th
									| Nombre
								th
									| Formato
								th
									| Editar
								th
									| Eliminar
								th
									| ID
						tbody
							tr(dir-paginate='item in Transactions.items | itemsPerPage: Transactions.s.limit',pagination-id="pag",current-page="Transactions.s.currentPage",total-items="Transactions.total")
								td
									| {{item.name}}
								td
									| {{item.format}}
								td
									button.btn.btn-primary.btn-circle(type='button',ng-click='Transactions.setPut(item); load(); ',data-toggle='modal',data-target='#modalEdit')
										i.fa.fa-pencil
								td
									button.btn.btn-danger.btn-circle(type='button',ng-click='Transactions.setDelete(item)')
										i.fa.fa-trash
								td
									| {{item._id}}
	.row
		.col-sm-12
			dir-pagination-controls(pagination-id="pag", boundary-links="true", on-page-change="Transactions.pageChange(newPageNumber)", template-url="/static/dirPagination.tpl.html")