span(us-spinner="{radius:30, width:8, length: 16}",spinner-on="showSpinner")
div.mask(ng-show="showSpinner").row
.col-xs-12
	.row
		h1.page-header.text-center Usuarios
	.row
		a.btn.btn-primary.btn-block(data-toggle="collapse",data-target="#formUsers") Agregar 
		form#formUsers.form-horizontal.collapse(ng-submit='post()')
			fieldset
				.form-group
					.col-xs-12
						label.control-label(for='priv') Privilegio
						select#priv.form-control(required,ng-model='Users.a.priv',string-to-number)
							option(value='1') Administrador
							option(value='2') Moderador
							option(value='3') Usuario
				.form-group
					.col-xs-6
						label.control-label(for='Usersname') Nombre de Usuario
						input#Usersname.form-control(type='text',required,ng-model='Users.a.username')
					.col-xs-6
						label.control-label(for='password') Contraseña
						input#password.form-control(type='password',required,ng-model='Users.a.password')
				.form-group
					.col-xs-6
						label.control-label(for='name') Nombres
						input#name.form-control(type='text',required,ng-model='Users.a.name')
					.col-xs-6
						label.control-label(for='lastname') Apellidos
						input#lastname.form-control(type='text',required,ng-model='Users.a.lastname')
				.form-group
					.col-xs-6
						label.control-label(for='document') Cédula
						input#document.form-control(type='number',required,ng-model='Users.a.document')
					.col-xs-6
						label.control-label(for='phone') Teléfono
						input#phone.form-control(type='number',required,ng-model='Users.a.phone')
				.form-group
					.col-xs-6
						label.control-label(for='mail') Correo electrónico
						input#mail.form-control(type='text',required,ng-model='Users.a.mail')
					.col-xs-6
						label.control-label(for='address') Dirección
						input#address.form-control(type='text',required,ng-model='Users.a.address')
				.form-group
					.col-xs-6
						label.control-label(for='gender') Género
						select#gender.form-control(required,ng-model='Users.a.gender',string-to-number)
							option(value='1') Masculino
							option(value='2') Femenino
					.col-xs-6
						label.control-label(for='localities') Localidades
						locality-picker(model='Users.a.localities')
				.form-group
					.col-xs-6
						label.control-label(for='dob') Fecha de Nacimiento
						input#dob.form-control(ng-model='Users.a.dob', date-picker,required)
					.col-xs-6
						label.control-label(for='photo') Foto
						button#photo.btn.btn-lg.btn-default.btn-block.drop-box(ngf-select,ng-model='Users.a.photo',ngf-accept="'image/png,image/jpeg'",ngf-pattern="'image/png,image/jpeg'") Buscar imagen
						.box-single-preview(ng-show='Users.a.photo.name')
							img.img-preview-med(ngf-src='Users.a.photo')
				.form-group
					.col-xs-12
						label.control-label(for='cover') Portada
						button#files.btn.btn-lg.btn-default.btn-block.drop-box(ngf-select,ng-model='Users.a.cover',ngf-accept="'image/png,image/jpeg'",ngf-pattern="'image/png,image/jpeg'") Buscar imagen
						.box-single-preview(ng-show='Users.a.cover.name')
							img.img-preview-med(ngf-src='Users.a.cover')
				.clearfix
				.col-xs-12.text-center
					.form-group
						button.btn.btn-default(type='reset') Borrar
						button.btn.btn-success(type='submit') Enviar
	hr
	.row
		h1.page-header.text-center Buscar
		form#formSearchUsers.form-horizontal
			.form-group
				.col-xs-3
					label.control-label(for='mail') Email
					input#mail.form-control(ng-change="Users.get();", type='text',ng-model='Users.s.mail')
				.col-xs-3
					label.control-label(for='priv') Privilegio
					select#priv.form-control(ng-change="Users.get();", ng-model='Users.s.priv')
						option(value='1') Administrador
						option(value='2') Usuario
						option(value='3') Moderador
				.col-xs-3
					label.control-label(for='phone') Teléfono
					input#phone.form-control(ng-change="Users.get();", type='text',ng-model='Users.s.phone')
				.col-xs-3
					label.control-label(for='localities') Localidades
					input#localities.form-control(ng-change="Users.get();", type='text',ng-model='Users.s.localities')
	.row
		.col-xs-12
			dir-pagination-controls(pagination-id="pag",boundary-links="true",template-url="/static/dirPagination.tpl.html")
	.row
		.col-sm-12
			.table-responsive(double-scroll, wait="Currency.total > 0")
					table.table.table-stripped.table-bordered.table-hover.no-footer(sticky-header, wait="Currency.total > 0")
						thead
							tr
								th
									| Privilegio
								th
									| Nombres
								th
									| Apellidos	
								th
									| Correo
								th
									| Foto
								th
									| Editar
								th
									| Borrar
								th
									| ID
						tbody
							tr(dir-paginate='item in Users.items | itemsPerPage: Users.s.limit',pagination-id="pag",current-page="Users.s.currentPage",total-items="Users.total")
								td
									| {{priv[item.priv]}}
								td
									| {{item.name}}
								td
									| {{item.lastname }}
								td
									| {{item.mail}}
								td
									img.img-responsive.img-circle(ng-src='http://50.21.179.35:8083/square/100/{{item.photo}}')
								td
									button.btn.btn-primary.btn-circle(type='button',ng-click='Users.setPut(item)',data-toggle='modal',data-target='#modalUsers')
										i.fa.fa-pencil
								td
									button.btn.btn-danger.btn-circle(type='button',ng-click='Users.setDelete(item)')
										i.fa.fa-trash
								td
									| {{item._id}}
	.row
		.col-xs-12
			dir-pagination-controls(pagination-id="pag", boundary-links="true", on-page-change="Users.pageChange(newPageNumber)", template-url="/static/dirPagination.tpl.html")
#modalUsers.modal.fade
	.modal-dialog.modal-lg
		.modal-content
			form#formUsers(ng-submit='put()')
				.modal-header
					button.close(type='button',data-dismiss='modal')
						span(aria-hidden='true') &times;
					h3.text-center Editar
				.modal-body
					.form-group
						.col-xs-12
							label.control-label(for='priv') Privilegio
							select#priv.form-control(ng-model='Users.p.priv',string-to-number)
								option(value='1', ng-selected="Users.p.priv == 1") Administrador
								option(value='2', ng-selected="Users.p.priv == 2") Moderador
								option(value='3', ng-selected="Users.p.priv == 3") Usuario
					.form-group
						.col-xs-6
							label.control-label(for='Usersname') Nombre de Usuario
							input#Usersname.form-control(type='text',ng-model='Users.p.username')
						.col-xs-6
							label.control-label(for='password') Contraseña
							input#password.form-control(type='password',ng-model='Users.p.password')
					.form-group
						.col-xs-6
							label.control-label(for='name') Nombres
							input#name.form-control(type='text',ng-model='Users.p.name')
						.col-xs-6
							label.control-label(for='lastname') Apellidos
							input#lastname.form-control(type='text',ng-model='Users.p.lastname')
					.form-group
						.col-xs-6
							label.control-label(for='document') Cédula
							input#document.form-control(type='text',ng-model='Users.p.document')
						.col-xs-6
							label.control-label(for='phone') Teléfono
							input#phone.form-control(type='text',ng-model='Users.p.phone')
					.form-group
						.col-xs-6
							label.control-label(for='mail') Correo electrónico
							input#mail.form-control(type='text',ng-model='Users.p.mail')
						.col-xs-6
							label.control-label(for='address') Dirección
							input#address.form-control(type='text',ng-model='Users.p.address')
					.form-group
						.col-xs-6
							label.control-label(for='gender') Género
							select#gender.form-control(type='text',ng-model='Users.p.gender')
								option(value='1', ng-selected="Users.p.gender == 1") Masculino
								option(value='2', ng-selected="Users.p.gender == 2") Femenino
						.col-xs-6
							label.control-label(for='localities') Localidades
							locality-picker(model='Users.p.localities')
					.form-group
						.col-xs-6
							label.control-label(for='dob') Fecha de Nacimiento
							input#dob.form-control(ng-model='Users.p.dob', date-picker)
						.col-xs-6
							label.control-label(for='photo') Foto
							button.btn.btn-lg.btn-default.btn-block.drop-box(ngf-select,ng-model='Users.p.photo',ngf-accept="'image/png,image/jpeg'",ngf-pattern="'image/png,image/jpeg'") Arrastra la imagen
							.box-single-preview(ng-show='Users.p.photo.name')
								img.img-preview-med(ngf-src='Users.p.photo')
								span
									a.btn.btn-danger.btn-block(ng-click='Users.p.photo={}')
										span
											i.fa.fa-times.fa-fw
							.box-single-preview(ng-hide='Users.p.photo.name')
								img.img-preview-med(src='http://50.21.179.35:8083/square/500/{{Users.p.photo}}')
					.form-group
						.col-xs-12
							label.control-label(for='cover') Portada
							button.btn.btn-lg.btn-default.btn-block.drop-box(ngf-select,ng-model='Users.p.cover',ngf-accept="'image/png,image/jpeg'",ngf-pattern="'image/png,image/jpeg'") Arrastra la imagen
							.box-single-preview(ng-show='Users.p.cover.name')
								img.img-preview-med(ngf-src='Users.p.cover')
								span
									a.btn.btn-danger.btn-block(ng-click='Users.p.cover={}')
										span
											i.fa.fa-times.fa-fw
							.box-single-preview(ng-hide='Users.p.cover.name')
								img.img-preview-med(src='http://50.21.179.35:8083/square/500/{{Users.p.cover}}')
					.clearfix
				.modal-footer
					button#modalCerrar.btn.btn-danger(type='button',data-dismiss='modal') Cerrar
					button.btn.btn-default(type='reset') Limpiar
					button.btn.btn-success(type='submit') Editar